<div class="wds-banner-notification__icon">
  <Icon @name={{this.icon}} @size="small" />
</div>
<span class="wds-banner-notification__text">
  {{yield}}
</span>
<Icon
  @name="close"
  @size="tiny"
  @onClick={{action (optional @onClose)}}
  class="wds-banner-notification__close"
/>
