<div
  class={{classnames
    @class
    (if @dropdownLeftAligned "wds-is-left-aligned")
    (if @dropdownRightAligned "wds-is-right-aligned")
    (unless @scrollable "wds-is-not-scrollable")
    (if @isLevel2 "wds-dropdown-level-2__content" "wds-dropdown__content")
  }}
  ...attributes
>
  {{yield}}
</div>
