{{#if @model.logo}}
  <h2 class="wds-global-footer-wikia-org__header">
      {{svg @model.logo.name class="wds-global-footer__header-logo" }}
  </h2>
{{/if}}
<ul class="wds-global-footer-wikia-org__links">
  {{#each @model.site_overview.links as |link|}}
    <li class="wds-global-footer-wikia-org__link">
      <a href="{{link.href}}" data-tracking-label="{{link.tracking_label}}">
        {{i18n link.title.key ns="design-system"}}
      </a>
    </li>
  {{/each}}
</ul>
