<input
  type="checkbox"
  id={{@id}}
  class="wds-toggle__input"
  onChange={{action (optional @onChange) value="target.checked"}}
  ...attributes
>
<label for={{@id}} class="wds-toggle__label">{{yield}}</label>
