<div class="wds-banner-notification__icon">
  {{wds-icon name=icon size="small"}}
</div>
<span class="wds-banner-notification__text">
  {{yield}}
</span>
{{wds-icon
  class="wds-banner-notification__close"
  click=(action onClose)
  name="cross"
  size="tiny"
}}
