<div class="wds-textarea__field-wrapper">
	{{textarea autoresize=true value=value placeholder=placeholder maxlength=maxlength disabled=disabled rows=1 class='wds-textarea__field'}}
	{{#if hasLengthHint}}
		<span class="wds-textarea__length-hint">{{lengthHint}}</span>
	{{/if}}
</div>
{{#if hint}}
	<span class="wds-textarea__hint">
		{{hint}}
	</span>
{{/if}}
