<div class="wds-global-footer__bottom-bar">
  <div class="wds-global-footer__bottom-bar-row wds-has-padding">
    {{{i18n
      @model.licensing_and_vertical.description.key
      sitename=@model.licensing_and_vertical.description.params.sitename.value
      vertical=(i18n
        @model.licensing_and_vertical.description.params.vertical.key
        ns="design-system"
      )
      ns="design-system"
   }}}
  </div>
</div>
