<a href="{{model.href}}" class="wds-global-footer__link" {{action this.attrs.track model.tracking_label preventDefault=false}}>
	{{svg model.image-data.name class='wds-global-footer__image wds-icon' }}
</a>
