<h1 class="wds-content-recommendations__header">TRENDING on fandom</h1>
{{#if sponsoredItem}}
  {{global-navigation/sponsored-content-card
    model=sponsoredItem
    track=(action track)
  }}
{{/if}}
{{#each displayedItems as |item|}}
  {{global-navigation/content-recommendation-card
    model=item
    track=(action track)
  }}
{{/each}}
