<img
  src={{model.thumbnail}}
  alt={{model.title}}
  class="wds-content-recommendations__card-thumbnail"
>

<div class="wds-content-recommendations__card-info">
  <span class="wds-content-recommendations__card-title">
    {{model.title}}
  </span>
  <span class="wds-content-recommendations__card-time">
    16m
  </span>
</div>
