%wds-line-height-xxs {
	line-height: 12px;
}

%wds-line-height-xs {
	line-height: 14px;
}

%wds-line-height-s {
	line-height: 16px;
}

%wds-line-height-base {
	line-height: 18px;
}

%wds-line-height-l {
	line-height: 20px;
}

%wds-line-height-xl {
	line-height: 26px;
}

%wds-line-height-xxl {
	line-height: 30px;
}

%wds-line-height-3xl {
	line-height: 36px;
}

%wds-line-height-4xl {
	line-height: 52px;
}

%wds-line-height-paragraph {
	line-height: 28px;
}

%wds-line-height-desktop-headline {
	line-height: 40px;
}
