.idea/
*.DS_Store
*._.DS_Store
npm-debug.log
node_modules/

/reference-page/tmp/
/reference-page/dist/
/reference-page/node_modules/
/reference-page/bower_components/

# Visual Regression Testing files that shouldn't be commited as they are of no use
reference-page/visuals/reference-page/diff
reference-page/visuals/reference-page/*.regression.png
reference-page/visuals/reference-page/reference-page.png
reference-page/visuals/reference-page/reference-page.*px.png

# Jenkins
debug.log
