.color-preview-group {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.color-preview-card {
	--border-color: #ccc;
	--color-preview-height: 100px;
	--color-preview-width: 110px;
	margin: 10px;
	transition-duration: 500ms;
	transition-property: background-color, box-shadow;
	transition-timing-function: ease-in-out;
}

.color-preview-box {
	border: 1px solid var(--border-color);
	height: var(--color-preview-height);
	width: var(--color-preview-width);
}

.color-preview-name,
.color-preview-variable,
.color-preview-reference {
	--padding: 5px;
	border: solid var(--border-color);
	border-width: 0 1px 1px;
	display: block;
	padding: var(--padding);
	text-align: center;
	width: calc(var(--color-preview-width) - 2 * var(--padding));
	word-wrap: break-word;
}

.color-preview-variable,
.color-preview-reference  {
	font-family: monospace;
}

.highlight {
	background-color: #e6e6e6;
	box-shadow: 0 0 20px 0px #1a1a1a;
}

.icon-preview-group {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.icon-preview-card {
	display: inline-block;
	margin: 10px;
	text-align: center;
	width: 110px;
}
