[class*='sg-section-footer-'],
[class^='sg-section-footer-'] {
    margin: 0 auto !important;
}

[class*='sg-section-footer-'] > .sg-text,
[class^='sg-section-footer-'] > .sg-text {
    display: none !important;
}

[class*='sg-section-footer-'] > .sg-example,
[class^='sg-section-footer-'] > .sg-example {
    float: none !important;
    width: auto !important;
}

[class*='sg-section-footer-'] .sg-canvas,
[class^='sg-section-footer-'] .sg-canvas {
	background: #39424d;
}
