.asset-box {
	display: inline-block;
	margin-bottom: 40px;
	text-align: center;
	vertical-align: top;

	&.is-store {
		width: 200px;

		.asset-box__asset {
			width: 150px;
		}
	}

	&.is-avatar-badge {
		width: 125px;

		.asset-box__asset {
			height: 24px;
			width: 50px;
		}
	}

	&__asset {
		border-bottom: solid 2px $color-faint-gray;
		margin: {
			bottom: 10px;
			left: auto;
			right: auto;
			top: 0;
		}
		padding-bottom: 17px;
	}
}
