.color-box {
	font-size: $typescale-size-minus-2;
	margin: 15px 6px;
	text-align: center;
	width: 120px;

	&.is-bordered {
		.color-box__box {
			border: 1px solid $color-faint-gray;
		}
	}

	&__box {
		@include square(60px);

		box-sizing: border-box;
		margin: 0 auto 10px;
	}

	&__name {
		font-weight: 700;
	}
}
