.icon-box {
	display: inline-block;
	margin-bottom: 40px;
	text-align: center;
	vertical-align: top;
	width: 125px;

	&:hover {
		.wds-icon {
			color: $color-dark-blue;
		}
	}

	&__icon {
		border-bottom: solid 2px $color-faint-gray;
		height: 24px;
		margin: {
			bottom: 10px;
			left: auto;
			right: auto;
			top: 0;
		}
		width: 50px;
		padding-bottom: 17px;
	}

	.wds-icon {
		color: $color-slate-gray;
	}
}
