.typescale-line {
	display: flex;

	&__left {
		border-right: 1px solid $color-off-white;
		flex: 1 auto;
		line-height: $line-height;
	}

	&__right {
		align-self: flex-end;
		flex-shrink: 0;
		width: 275px;
	}

	&__left, &__right {
		padding: 10px 20px;
	}

	&__code {
		margin-left: 10px;
	}
}
