@import'../wds-functions/index';

@mixin dialog-theming($background-color, $border-color, $overlay-color) {
	$text-color: $wds-fandom-color-black;

	@if brightness($background-color) < 128 {
		$text-color: $wds-color-white;
	}


	.wds-dialog__curtain {
		background-color: $overlay-color;
	}

	.wds-dialog__wrapper {
		background: $background-color;
		color: $text-color;
	}

	.wds-dialog__actions {
		border-top-color: $border-color;
	}
}
