@mixin dropdown-theming ($color-page, $color-text, $color-links, $color-page-border) {
	// the same logic as $is-dark-wiki in oasis
	$is-dark-theme: brightness($color-page) < 128;

	$dropdown-background-color: mix($color-page, #000, 90%);
	@if $is-dark-theme {
		$dropdown-background-color: mix($color-page, #fff, 90%);
	}
	@if brightness($color-page) > 231 {
		$dropdown-background-color: $wds-color-white;
	}

	.wds-dropdown__content {
		background-color: $dropdown-background-color;
		background-color: var(--dropdown-background-color, $dropdown-background-color);
		border-color: $color-page-border;
		border-color: var(--color-page-border, $color-page-border);
		color: $color-text;
		color: var(--color-text, $color-text);

		&:not(.wds-is-not-scrollable) {
			.wds-list {
				@include scrollable-list($wds-dropdown-height, $dropdown-background-color);
			}
		}

		.wds-list.wds-is-linked li {
			> a {
				color: $color-text;
				color: var(--color-text, $color-text);
			}

			&:hover {
				> a {
					background-color: rgba($color-links, .1);
					background-color: var(--color-links, #{rgba($color-links, .1)});
					color: $color-links;
					color: var(--color-links, $color-links);
				}
			}
		}

		.wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content {
			background-color: $dropdown-background-color;
			background-color: var(--dropdown-background-color, $dropdown-background-color);
			border-color: $color-page-border;
			border-color: var(--color-page-border, $color-page-border);
			color: $color-text;
			color: var(--color-text, $color-text);
		}
	}

	&::after {
		border-bottom-color: $dropdown-background-color;
		border-bottom-color: var(--dropdown-background-color, $dropdown-background-color);
	}

	&::before {
		border-bottom-color: $color-page-border;
		border-bottom-color: var(--color-page-border, $color-page-border);
	}
}
