@mixin wds-avatar($size: 30px) {
	$badge-size: (0.2539 * $size) + 8px;
	$badge-left: -$badge-size / 3.5;
	$badge-right: -$badge-size / 2.5;

	--fds-avatar--size: $size;
	--fds-avatar--badge-size: $badge-size;
	--fds-avatar--badge-left: $badge-left;
	--fds-avatar--badge-right: $badge-right;

	@if($size >= 48px) {
		--fds-avatar--border-width: 3px;
		--fds-avatar--badge-size: $badge-size;
		--fds-avatar--badge-left: $badge-left / 4.5;
		--fds-avatar--badge-right: $badge-right / 3.5;
	}

	@if($size >= 120px) {
		--fds-avatar--border-width: 4px;
	}
}

//@mixin wds-avatar($diameter: 30px, $color: $wds-color-black, $color-hover: $wds-color-link, $color-background: $wds-color-white) {
//	$border-width: 2px;
//	$inner-border-width: 2px;
//	@if($diameter >= 48px) {
//		$border-width: 3px;
//		$inner-border-width: 3px;
//	}
//	@if($diameter >= 120px) {
//		$border-width: 4px;
//		$inner-border-width: 6px;
//	}
//
//	@include square($diameter);
//
//	a {
//		color: $color;
//
//		&:hover {
//			color: $color-hover;
//		}
//	}
//
//	.wds-avatar__image {
//		background-color: $color-background;
//		fill: $color;
//
//		&:hover {
//			fill: $color-hover;
//		}
//	}
//
//	img.wds-avatar__image {
//		border: solid $border-width $color;
//
//		&:hover {
//			border-color: $color-hover;
//		}
//	}
//}
