.rp-breakpoints {
	border: 1px solid $color-dark-blue-gray;
	border-spacing: 0;
	width: 400px;

	&__header {
		background-color: $color-dark-blue-gray;
		color: $color-faint-blue-gray;

		td {
			border-bottom: 1px solid $color-faint-blue-gray;
		}
	}

	&__separator {
		background-color: $color-slate-gray;
		color: $color-faint-blue-gray;
		text-align: center;
	}

	td {
		padding: 5px;
	}

	.has-white-border-right {
		border-right: 1px solid $color-faint-blue-gray;
	}

	.has-text-center {
		text-align: center;
	}
}
