.rp-breakpoints-table {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: $typescale-size-minus-1;
	width: 574px;

	td {
		border: 1px solid $color-off-white;
		padding: 14px 8px;
		vertical-align: top;
	}

	.variable-name {
		font-size: $typescale-size-minus-2;
	}

	&__header {
		background-color: $color-off-white;

		th {
			border: 1px solid $color-off-white;
			padding: 18px 8px;
			text-align: left;
		}
	}
}

.rp-breakpoints-visualisation {
	margin-top: 30px;
}

.rp-displayed-breakpoint {
	display: none;

	@media #{$breakpoint-s-only} {
		&__s-only {
			display: inline;
		}
	}

	@media #{$breakpoint-m-only} {
		&__m-only {
			display: inline;
		}
	}

	@media #{$breakpoint-l-only} {
		&__l-only {
			display: inline;
		}
	}

	@media #{$breakpoint-xl-only} {
		&__xl-only {
			display: inline;
		}
	}

	@media #{$breakpoint-xxl-up} {
		&__xxl-up {
			display: inline;
		}
	}
}