@mixin wds-avatar($diameter:30px, $color:$wds-color-black, $color-hover:$wds-color-link, $bg-color:$wds-color-white) {
	$border-width: 2px;
	$inner-border-width: 2px;
	@if($diameter >= 48px) {
		$border-width: 3px;
		$inner-border-width: 3px;
	}
	@if($diameter >= 120px) {
		$border-width: 4px;
		$inner-border-width: 6px;
	}

	@include square($diameter);

	a {
		color: $color;
	}

	a:hover {
		color: $color-hover;
	}


	.wds-avatar__image {
		background-color: $bg-color;
		border: solid $border-width $color;

		&:hover {
			border-color: $color-hover;
		}
	}

	svg.wds-avatar__image {
		fill: $color;

		&:hover {
			fill: $color-hover;
		}
	}

	.wds-avatar__inner-border:hover + .wds-avatar__image {
		fill: $color-hover;
		border-color: $color-hover;
	}

	.wds-avatar__inner-border {
		@include square($diameter - 2*$border-width);

		border: solid $inner-border-width $bg-color;
		left: $border-width;
		top: $border-width;
	}

	$badge-size: $diameter * 0.6;
	$left: -$badge-size / 3;
	$right: -$badge-size / 2;
	@if ($diameter >= 48px) {
		$badge-size: $diameter * 0.375;
		$left: -$badge-size / 4;
		$right: -$badge-size / 3;
	}

	.wds-avatar__badge {
		@include square($badge-size);

		left: $left;
		top: $right;
	}
}


.wds-avatar {
	display: inline-block;
	position: relative;

	a {
		height: 100%;
		width: 100%;
	}
}

.wds-avatar__image {
	@include square(100%);

	border-radius: 50%;
	box-sizing: border-box;
}

.wds-avatar__inner-border {
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
}

.wds-avatar__badge {
	line-height: 0;
	position: absolute;

	svg {
		@include square(100%);
	}
}
