@mixin wds-avatar($diameter:30px, $border-width:2px, $color:$wds-color-black, $bg-color:$wds-color-white) {
	.wds-avatar {
		@include square($diameter);

		display: inline-block;
		position: relative;

		a {
			color: $color;
			height: 100%;
			width: 100%;
		}
	}

	img.wds-avatar__image,
	svg.wds-avatar__image {
		@include square($diameter - (2 * $border-width));

		background-color: $bg-color;
		border: solid $border-width $color;
		border-radius: 50%;
		color: $color;
	}


	$badge-size: $diameter * 0.5;
	.wds-avatar__badge {
		@include square($badge-size);

		left: -$badge-size / 4;
		line-height: 0;
		position: absolute;
		top: -$badge-size / 3;

		svg {
			@include square(100%);
		}
	}
}
