@mixin wds-avatar($diameter:30px, $color:$wds-color-black, $color-hover:$wds-color-link, $bg-color:$wds-color-white) {
	$border-width: 2px;
	@if($diameter >= 48px) {
		$border-width: 3px;
	}
	@if($diameter >= 120px) {
		$border-width: 4px;
	}

	.wds-avatar {
		@include square($diameter);

		display: inline-block;
		position: relative;

		a {
			color: $color;
			height: 100%;
			width: 100%;
		}

		a:hover {
			color: $color-hover;
		}
	}

	img.wds-avatar__image,
	svg.wds-avatar__image {
		@include square($diameter - (2 * $border-width));

		background-color: $bg-color;
		border: solid $border-width $color;
		border-radius: 50%;
		fill: $color;

		&:hover {
			fill: $color-hover;
			border-color: $color-hover;
		}
	}


	$badge-size: $diameter * 0.6;
	$left: -$badge-size / 3;
	$right: -$badge-size / 2;
	@if ($diameter >= 48px) {
		$badge-size: $diameter * 0.375;
		$left: -$badge-size / 4;
		$right: -$badge-size / 3;
	}

	.wds-avatar__badge {
		@include square($badge-size);

		left: $left;
		line-height: 0;
		position: absolute;
		top: $right;

		svg {
			@include square(100%);
		}
	}
}
