@mixin wds-dialog-theming($bg-color, $border-color, $overlay-color) {
	&__curtain {
		--wds-dialog-overlay-color: #{$overlay-color};
	}

	&__wrapper {
		--wds-dialog-background-color: #{$bg-color};
		--wds-dialog-border-color: #{$border-color};
	}
}

.wds-dialog {
	@include wds-dialog-theming(
		var(--theme-page-background-color--secondary),
		var(--theme-border-color),
		var(--theme-overlay-color)
	);

	&__curtain {
		background-color: var(--wds-dialog-overlay-color);
		animation: fade-in .2s;
		bottom: 0;
		display: flex;
		left: 0;
		padding: 20px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}

	&__wrapper {
		align-self: center;
		animation: move-in .2s;
		border-radius: $wds-rounded-corner-radius;
		margin: 0 auto;
		max-width: 640px;
		min-width: 280px;
		width: auto;
		background: var(--wds-dialog-background-color);
	}

	&__title {
		font-size: $wds-font-size-xl;
		font-weight: bold;
		line-height: $wds-font-size-xxl;
		padding: $wds-dialog-padding $wds-dialog-padding 0;
	}

	&__content {
		font-size: $wds-font-size-base;
		line-height: $wds-font-size-xl;
		padding: $wds-dialog-padding;
	}

	&__actions {
		border-top: 1px solid var(--wds-dialog-border-color);
		display: flex;
		height: 40px;
		justify-content: flex-end;
		padding: 5px 0 8px;

		&-button {
			font-size: $wds-font-size-base;
			font-weight: normal;
    		text-transform: none;
		}
	}

	@keyframes move-in {
		from {
			opacity: 0;
			transform: translate(0, 30px);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
			pointer-events: none;
		}
	}
}
