.wds-dropdown {
	$content-z-index: 1;
	$gap-size: 3px;
	$dropdown-border-width: 1px;

	display: inline-block;
	position: relative;

	&__toggle {
		cursor: pointer;
		position: relative;
		// dropdown content has shadow that should be hidden below the toggle
		z-index: $content-z-index + 1;

		// allows to have on-hover dropdowns with a gap between toggle and content
		&::after {
			// FIXME: `1px` is the bottom border of toggle element
			// if border is larger than 1px, it won't work
			bottom: -$gap-size - 1px;
			content: '';
			display: block;
			height: $gap-size;
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	&__toggle-chevron {
		margin-left: 5px;
	}

	&__content {
		background-color: $wds-color-white;
		border: $dropdown-border-width solid $wds-color-faint-gray;
		border-radius: 4px;
		display: none;
		left: 50%;
		// FIXME 9px should be changed to $wds-dropdown-padding minus .wds-list item vertical padding size
		padding: 9px $wds-dropdown-padding;
		position: absolute;
		top: calc(100% + #{$gap-size});
		transform: translateX(-50%);

		&.wds-is-right-aligned {
			left: auto;
			right: 0;
			transform: none;
		}

		&.wds-is-left-aligned {
			left: 0;
			transform: none;
		}

		.wds-list {
			@include scrollable-list;
		}

		:not(.wds-list li) {
			// FIXME that should be equal to .wds-list item vertical padding
			padding: 11px;
		}
	}

	&::after {
		border: solid transparent;
		border-bottom-color: #fff;
		border-width: 8px;
		bottom: -$gap-size - $dropdown-border-width;
		content: '';
		display: none;
		height: 0;
		left: 50%;
		margin-left: -8px;
		pointer-events: none;
		position: absolute;
		width: 0;
		z-index: 2;
	}

	&::before {
		border: solid transparent;
		border-bottom-color: #ccc;
		border-width: 9px;
		bottom: -$gap-size - $dropdown-border-width;
		content: '';
		display: none;
		height: 0;
		left: 50%;
		margin-left: -9px;
		pointer-events: none;
		position: absolute;
		width: 0;
		z-index: 2;
	}

	&:hover::after {
		display: block;
	}

	&:hover::before {
		display: block;
	}

	&.wds-is-active .wds-dropdown,
	&:hover:not(.wds-global-navigation__search-input-wrapper) {
		.wds-dropdown__content {
			display: inline-block;
		}

		.wds-dropdown__toggle-chevron {
			transform: rotate(180deg);
		}

		&.wds-has-shadow, &.wds-has-dark-shadow {
			&::before {
				display: none;
			}
		}
	}

	&.wds-has-shadow {
		.wds-dropdown__content {
			box-shadow: 0 0 10px 0 rgba($wds-color-black, .2);
		}
	}

	&.wds-has-dark-shadow {
		.wds-dropdown__content {
			box-shadow: 0 0 20px 0 rgba($wds-color-black, .3);
		}
	}

	&.wds-has-shadow, &.wds-has-dark-shadow {
		.wds-dropdown__content {
			border: 0;
		}
	}
}
