.wds-global-navigation {
	--wds-global-navigation-sign-out-button-label-color: var(--custom-link-color);

	&.wds-is-wikia-org {
		border-bottom: 1px solid $wds-color-faint-gray;
		border-top: 6px solid $wds-color-dark-blue;

		.wds-global-navigation__community-bar {
			height: 49px;
		}

		.wds-community-bar__separator {
			display: none;
		}

		.wds-global-navigation__notifications-dropdown-content {
			color: $wds-color-light-blue;

			&:hover {
				color: $wds-color-light-blue;
			}
		}

		.wds-dropdown .wds-dropdown__toggle-chevron {
			fill: $wds-color-slate-gray;
		}

		.wds-is-unread .wds-notification-card__icon-wrapper .wds-icon {
			fill: $wds-color-light-blue;
		}

		.wds-global-navigation__notifications-counter,
		.wds-global-navigation__avatar-notifications-counter {
			background-color: $wds-color-light-blue;
			color: $wds-color-white;
		}

		> * {
			// This is applied to all GN children to make up for a 6px top border
			margin: -3px 0 -3px;
		}

		.wds-button:not(.wds-is-text) {
			--wds-primary-button-background-color: $wds-color-light-blue;
			--wds-primary-button-background-color--hover: darken($wds-color-light-blue, $wds-active-color-modification-factor);
			--wds-primary-button-label-color: $wds-color-white;
			--wds-secondary-button-label-color: $wds-color-light-blue;
			--wds-secondary-button-label-color--hover: $wds-color-slate-gray;
		}
	}
}

.wds-is-wikia-org {
	&.wds-search-is-active {
		.wds-global-navigation__search {
			&-input-wrapper {
				border-bottom: 2px solid $wds-color-blue-gray;
			}
		}
	}

	.wds-global-navigation__search {
		&-input-wrapper {
			border-bottom: 2px solid $wds-color-blue-gray;
		}

		&-submit {
			border-radius: 3px;
			padding: 4px 10px;

			&-icon {
				transform: rotate(180deg);
			}
		}
	}
}
