// columns
$desktop-column-fandom: 25%;
$desktop-column-wikia: 75%;
$desktop-first-column-width: 200px;
$desktop-second-column-width: 124px;
$desktop-third-column-width: 290px;
$desktop-fourth-column-width: 200px;

// rows
$en-logo-height: 26px;
$international-logo-height: 30px;

$desktop-row-header-en-margin-top: 47px;
$desktop-row-header-en-margin-bottom: 35px;

$desktop-row-header-international-padding-top: 43px;
$desktop-row-header-international-padding-bottom: 34px;

$mobile-row-header-en-fandom-margin-top: 38px;
$mobile-row-header-en-wikia-margin-top: 61px;
$mobile-row-header-en-margin-bottom: 29px;

$mobile-row-header-international-padding-top: 34px;
$mobile-row-header-international-padding-bottom: 35px;

$section-line-width: 4px;
$desktop-row-top-height: 206px + $section-line-width;

// others
$footer-line-height: 1.3em;
$desktop-width: 1024px;
$section-vertical-padding: 8px;
$section-header-height: 24px;
$section-header-margin-bottom: 10px;
