@mixin wds-input-theming($border-color, $text-color, $secondary-text-color) {
	--wds-input-border-color: #{$border-color};
	--wds-input-text-color: #{$text-color};
	--wds-input-text-color--secondary: #{$secondary-text-color};
}

.wds-input {
	@include wds-input-theming(
		var(--theme-border-color),
		var(--theme-text-color),
		rgba(var(--theme-text-color--rgb), 0.5)
	);

	margin: 30px 0 18px;
	position: relative;

	&:first-of-type {
		margin-top: 18px;
	}

	&__field {
		border: 0;
		border-bottom: 1px solid var(--wds-input-border-color);
		box-sizing: border-box;
		color: var(--wds-input-text-color);
		font-size: $wds-font-size-base;
		line-height: 1em;
		padding: 0;
		padding-bottom: 2px;
		resize: none;
		width: 100%;

		&:focus { outline: 0; }
	}

	&.is-resize &__field {
		resize: vertical;
	}

	textarea.wds-input__field {
		line-height: 1.5em;
	}

	&__label {
		color: var(--wds-input-text-color--secondary);
		font-size: $wds-font-size-xs;
		left: 0;
		line-height: .75rem;
		pointer-events: none;
		position: absolute;
		top: -16px;
		transition: .2s ease all;
	}

	&__hint {
		color: var(--wds-input-text-color--secondary);
		font-size: $wds-font-size-xs;
		line-height: .75rem;
		margin-top: 6px;
	}

	&.is-empty > &__field {
		border-bottom-color: var(--wds-input-border-color);
		color: var(--wds-input-text-color--secondary);
	}

	&.is-empty > &__field ~ &__label {
		font-size: $wds-font-size-base;
		height: 1rem;
		line-height: 1rem;
		overflow: hidden;
		right: 0;
		text-overflow: ellipsis;
		top: 0;
		white-space: nowrap;
	}

	&.is-empty > &__hint {
		color: var(--wds-input-text-color--secondary);
	}

	&.is-focused > &__field {
		border-color: var(--wds-input-text-color);
	}

	&.is-focused > &__hint {
		color: var(--wds-input-text-color);
	}

	&.has-error > &__label {
		color: var(--theme-alert-color);
	}

	&.has-error > &__field {
		border-bottom-color: var(--theme-alert-color);
	}

	&.has-error > &__hint {
		color: var(--theme-alert-color);
	}

	&.is-disabled > &__field {
		border-bottom-color: var(--wds-input-border-color);
		border-bottom-style: dashed;
		color: var(--wds-input-text-color--secondary);
	}

	&.is-readonly,
	&.is-disabled {
		cursor: not-allowed;
	}

	&.has-hint {
		margin-bottom: 0;
	}
}
