.wds-search-modal {
	&__form {
		display: flex;
		padding-top: 18px;
	}

	&__input {
		background: transparent;
		border: 0;
		border-bottom: 2px solid $wds-fandom-color-aqua;
		color: $wds-color-white;
		font-size: 1rem;
		flex-grow: 1;
		line-height: normal;

		&::placeholder {
			color: $wds-color-white;
		}

		&::-webkit-search-decoration {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}

	&__form-and-links-wrapper {
		background-color: $wds-fandom-color-navy;
		padding: 0 12px 12px;

		.wds-global-navigation__links {
			display: flex;
			font-size: 12px;
			justify-content: space-between;
			margin: 30px 6px 0 6px;

			.wds-dropdown__content {
				@include is-right-aligned;
			}
		}

		.wds-global-navigation__link {
			margin-left: 0;
		}
	}

	&__search-icon {
		fill: $wds-color-white;
		margin-right: 18px;
	}
}

.wds-is-modal-opened .wds-search-modal__form {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}
