.wds-sign-out {
	&__button {
		--wds-sign-out-button-background-color--hover: var(--theme-link-color--opacity-10);
		--wds-sign-out-button-label-color--hover: var(--theme-link-color);

		background: transparent;
		border: none;
		color: inherit;
		cursor: pointer;
		font: inherit;
		height: auto;
		margin: 0;
		padding: 0;
		text-align: left;
		text-transform: none;
		width: auto;

		.wds-is-linked & {
			box-sizing: border-box;
			display: block;
			padding: $wds-list-item-vertical-padding $wds-dropdown-padding / 2;
			width: 100%;
		}

		&:hover {
			background-color: var(--wds-sign-out-button-background-color--hover);
			color: var(--wds-sign-out-button-label-color--hover);
		}

		&:focus:not(:disabled),
		&:active,
		&.wds-is-active {
			background-color: transparent;
			color: inherit;
		}
	}
}
