$duration: 1s;
$spinner-color: $wds-color-link;

.wds-spinner {
	@keyframes rotator {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes dash {
		to {
			stroke-dashoffset: 0;
		}
	}

	animation: rotator $duration linear infinite;
	left: 50%;
	margin: -33px 0 0 -33px;
	position: absolute;
	top: 50%;
	transform: translateZ(0);

	&__block {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	&__path {
		-webkit-backface-visibility: hidden;
		animation: dash ($duration * 3.5) linear infinite alternate-reverse;
		stroke: $spinner-color;
	}

	&.ember-initializing {
		height: 75vh;
	}
}
