.typescale-line {
	display: flex;

	&__left {
		border-right: 1px solid $color-off-white;
		flex: 1 auto;
		line-height: $line-height;
		padding: 10px 20px;
	}

	&__right {
		align-self: flex-end;
		color: $color-dark-blue-gray;
		flex-shrink: 0;
		font-size: $typescale-size-minus-2;
		padding: 10px 20px;
		width: 220px;
	}

	&__code {
		margin-left: 10px;
	}
}
