{{#wds-dropdown
	class='wds-global-navigation__account-menu'
	as |dropdown|
}}
	{{#dropdown.toggle class='wds-global-navigation__dropdown-toggle'}}
		{{!TODO: use wds-avatar here}}
		{{svg model.header.image class='wds-icon wds-icon-small'}}
	{{/dropdown.toggle}}
	{{#dropdown.content
		class='wds-global-navigation__dropdown-content'
		dropdownRightAligned=true
	}}
		{{#wds-list lines=true}}
			{{#each model.links as |link|}}
				<li>
					{{wds-global-navigation/link-authentication
						model=link
					}}
				</li>
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
