{{#wds-dropdown hasShadow=true as |dropdown|}}
	{{#dropdown.toggle
		class='wds-global-navigation__dropdown-toggle'
	as |chevron|
	}}
		<span>{{i18n model.title.key ns='design-system'}}</span>{{chevron}}
	{{/dropdown.toggle}}
	{{#dropdown.content
		class='wds-global-navigation__dropdown-content'
	}}
		{{#wds-list linked=true}}
			{{#each model.items as |item|}}
				<li>
					{{component
						(concat 'wds-global-navigation/' item.type)
						model=item
						inDropdown=true
					}}
				</li>
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
