<nav class="wds-global-navigation__links">
	{{#each model as |item|}}
		{{!wds-global-navigation/link model=link}}
		{{component
			(concat 'wds-global-navigation/' item.type)
			model=item
			standaloneLink=true
		}}
		{{!wds-global-navigation/link-branded model=link}}
	{{/each}}
</nav>
