<div class="wds-user-modal__info">
	{{wds-avatar src=user.avatar_url link=viewProfileLink}}
	<p class="wds-user-modal__username">{{user.username}}</p>
</div>
<div class="wds-user-modal__notifications-wrapper">
	{{wds-on-site-notifications/notifications header=header track=track}}
</div>
{{wds-global-navigation/link-logout model=signOutModel class='wds-user-modal__sign-out-container'}}
