<div class="color-box__box" style="background-color:{{hex}};"></div>
<div class="color-box__name">{{name}}</div>
<div class="color-box__hex">{{hex}}</div>
<div class="color-box__variable">{{variable}}</div>
