<div class="typescale-line__left {{typescaleName}}">The quick brown fox jumps over the lazy dog</div>
<div class="typescale-line__right">
	<strong>{{fontSize}}px</strong>
	<code class="typescale-line__code">${{typescaleName}}</code>
</div>
