<h1>Breakpoints</h1>
<p>
	Fandom Design System uses <b>Mobile-first</b> approach.<br/>
	Use breakpoints to create responsive layout and components.<br/>
	To set breakpoints pick one of variables from table below and use it in <code>@media</code> query in scss file.
</p>
<p>
	Currently displayed breakpoint:<br/>
	<code class="variable-name rp-displayed-breakpoint rp-displayed-breakpoint__s-only">$breakpoint-s-only: only screen and (max-width:767px)</code>
	<code class="variable-name rp-displayed-breakpoint rp-displayed-breakpoint__m-only">$breakpoint-m-only: only screen and (min-width:768px) and (max-width:1023px)</code>
	<code class="variable-name rp-displayed-breakpoint rp-displayed-breakpoint__l-only">$breakpoint-l-only: only screen and (min-width:1024px) and (max-width:1083px)</code>
	<code class="variable-name rp-displayed-breakpoint rp-displayed-breakpoint__xl-only">$breakpoint-xl-only: only screen and (min-width:1084px) and (max-width:1595px)</code>
	<code class="variable-name rp-displayed-breakpoint rp-displayed-breakpoint__xxl-up">$breakpoint-xxl-up: only screen and (min-width:1596px)</code>
</p>
<p>
	<img src="/images/breakpoints.png" class="rp-breakpoints-visualisation">
</p>

<section>
	<h2 id="variables">Variables</h2>
	<table class="rp-breakpoints-table">
		<tr class="rp-breakpoints-table__header">
			<th>Breakpoint</th>
			<th>Variable</th>
			<th>Min</th>
			<th>Max</th>
		</tr>

		<tr>
			<td rowspan="2">Breakpoint S</td>
			<td><code class="variable-name">$breakpoint-s-up</code></td>
			<td>0</td>
			<td>max</td>
		</tr>
		<tr>
			<td><code class="variable-name">$breakpoint-s-only</code></td>
			<td>0</td>
			<td>767</td>
		</tr>

		<tr>
			<td rowspan="2">Breakpoint M</td>
			<td><code class="variable-name">$breakpoint-m-up</code></td>
			<td>768</td>
			<td>max</td>
		</tr>
		<tr>
			<td><code class="variable-name">$breakpoint-m-only</code></td>
			<td>768</td>
			<td>1023</td>
		</tr>

		<tr>
			<td rowspan="3">Breakpoint L</td>
			<td><code class="variable-name">$breakpoint-l-down</code></td>
			<td>0</td>
			<td>1083</td>
		</tr>
		<tr>
			<td><code class="variable-name">$breakpoint-l-up</code></td>
			<td>1024</td>
			<td>max</td>
		</tr>
		<tr>
			<td><code class="variable-name">$breakpoint-l-only</code></td>
			<td>1024</td>
			<td>1083</td>
		</tr>

		<tr>
			<td rowspan="2">Breakpoint XL</td>
			<td><code class="variable-name">$breakpoint-xl-up</code></td>
			<td>1084</td>
			<td>max</td>
		</tr>
		<tr>
			<td><code class="variable-name">$breakpoint-xl-only</code></td>
			<td>1084</td>
			<td>1595</td>
		</tr>

		<tr>
			<td>Breakpoint XXL</td>
			<td><code class="variable-name">$breakpoint-xxl-up</code></td>
			<td>1596</td>
			<td>max</td>
		</tr>
	</table>
</section>

<section>
	<h2>Example usage:</h2>
	{{#code-sample language='scss'}}
.example {
	width: 300px;

	.extra-content {
		display: none;
	}

	@media #{$breakpoint-m-up} {
		width: 700px;

		.extra-content {
			display: block;
		}
	}
}
	{{/code-sample}}
</section>
