<h1>Breakpoints</h1>
<p>
	Fandom Design System uses <b>Mobile-first</b> approach.<br/>
	Use breakpoints to create responsive layout and components.<br/>
	To set breakpoints pick one of variables from table below and use it in <code>@media</code> query in scss file
</p>

<section>
	<h2>Variables:</h2>
	<table class="rp-breakpoints">
		<tr class="rp-breakpoints__header">
			<td class="has-white-border-right" rowspan="2">Type</td>
			<td class="has-text-center" colspan="2">Range</td>
		</tr>
		<tr class="rp-breakpoints__header">
			<td class="has-white-border-right has-text-center">Min</td>
			<td class="has-text-center">Max</td>
		</tr>
		<tr class="rp-breakpoints__separator">
			<td colspan="3">Breakpoint S</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-s-up</td>
			<td class="has-text-center">0</td>
			<td class="has-text-center">max</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-s-only</td>
			<td class="has-text-center">0</td>
			<td class="has-text-center">767</td>
		</tr>
		<tr class="rp-breakpoints__separator">
			<td colspan="3">Breakpoint M</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-m-up</td>
			<td class="has-text-center">768</td>
			<td class="has-text-center">max</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-m-only</td>
			<td class="has-text-center">768</td>
			<td class="has-text-center">1023</td>
		</tr>
		<tr class="rp-breakpoints__separator">
			<td colspan="3">Breakpoint L</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-l-down</td>
			<td class="has-text-center">0</td>
			<td class="has-text-center">1083</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-l-up</td>
			<td class="has-text-center">1024</td>
			<td class="has-text-center">max</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-l-only</td>
			<td class="has-text-center">1024</td>
			<td class="has-text-center">1083</td>
		</tr>
		<tr class="rp-breakpoints__separator">
			<td colspan="3">Breakpoint XL</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-xl-up</td>
			<td class="has-text-center">1084</td>
			<td class="has-text-center">max</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-xl-only</td>
			<td class="has-text-center">1084</td>
			<td class="has-text-center">1595</td>
		</tr>
		<tr class="rp-breakpoints__separator">
			<td colspan="3">Breakpoint XXL</td>
		</tr>
		<tr>
			<td class="variable-name">$breakpoint-xxl-up</td>
			<td class="has-text-center">1596</td>
			<td class="has-text-center">max</td>
		</tr>
	</table>
</section>

<section>
	<h2>Example usage:</h2>
	{{#code-sample}}
.example {
	width: 300px;

	.extra-content {
		display: none;
	}

	@media #{$breakpoint-m-up} {
		width: 700px;

		.extra-content {
			display: block;
		}
	}
}
	{{/code-sample}}
</section>
