<h2>Documentation:</h2>
Fandom Design System uses <b>Mobile-first</b> approach.<br/>
Use breakpoints to create responsive layout and components.<br/>
To set breakpoints pick one of variables from table below and use it in <b>@media</b> query in scss file

<h2>Variables:</h2>
<table class="rp-breakpoins">
	<tr class="rp-breakpoins__header">
		<td rowspan="2">Type</td>
		<td colspan="2">Range</td>
	</tr>
	<tr class="rp-breakpoins__header">
		<td class="is-text-center">Min</td>
		<td>Max</td>
	</tr>
	<tr class="rp-breakpoins__separator">
		<td colspan="3">Breakpoint S</td>
	</tr>
	<tr>
		<td>$breakpoint-s-up</td>
		<td>0</td>
		<td>max</td>
	</tr>
	<tr>
		<td>$breakpoint-s-only</td>
		<td>0</td>
		<td>767</td>
	</tr>
	<tr class="rp-breakpoins__separator">
		<td colspan="3">Breakpoint M</td>
	</tr>
	<tr>
		<td>$breakpoint-m-up</td>
		<td>768</td>
		<td>max</td>
	</tr>
	<tr>
		<td>$breakpoint-m-only</td>
		<td>768</td>
		<td>1023</td>
	</tr>
	<tr class="rp-breakpoins__separator">
		<td colspan="3">Breakpoint L</td>
	</tr>
	<tr>
		<td>$breakpoint-l-down</td>
		<td>0</td>
		<td>1083</td>
	</tr>
	<tr>
		<td>$breakpoint-l-up</td>
		<td>1024</td>
		<td>max</td>
	</tr>
	<tr>
		<td>$breakpoint-l-only</td>
		<td>1024</td>
		<td>1083</td>
	</tr>
	<tr class="rp-breakpoins__separator">
		<td colspan="3">Breakpoint XL</td>
	</tr>
	<tr>
		<td>$breakpoint-xl-up</td>
		<td>1084</td>
		<td>max</td>
	</tr>
	<tr>
		<td>$breakpoint-xl-only</td>
		<td>1084</td>
		<td>1595</td>
	</tr>
	<tr class="rp-breakpoins__separator">
		<td colspan="3">Breakpoint XXL</td>
	</tr>
	<tr>
		<td>$breakpoint-xxl-up</td>
		<td>1596</td>
		<td>max</td>
	</tr>
</table>

<h2>Example usage:</h2>
{{#eg-code-highlight-container language='css'}}
.example {
	width: 300px;

	.extra-content {
		display: none;
	}

	@media #{$breakpoint-m-up} {
		width: 700px;

		.extra-content {
			display: block;
		}
	}
}
{{/eg-code-highlight-container}}
