<h2>Typography</h2>

<p>
	<div class="typescale-size-plus-7">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-7</code>
</p>
<p>
	<div class="typescale-size-plus-6">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-6</code>
</p>
<p>
	<div class="typescale-size-plus-5">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-5</code>
</p>
<p>
	<div class="typescale-size-plus-4">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-4</code>
</p>
<p>
	<div class="typescale-size-plus-3">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-3</code>
</p>
<p>
	<div class="typescale-size-plus-2">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-2</code>
</p>
<p>
	<div class="typescale-size-plus-1">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-plus-1</code>
</p>
<p>
	<div class="typescale-size-base">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-size-base</code>
</p>
<p>
	<div class="typescale-size-minus-1">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-minus-1</code>
</p>
<p>
	<div class="typescale-size-minus-2">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-minus-2</code>
</p>
<p>
	<div class="typescale-size-minus-3">The quick brown fox jumps over the lazy dog</div>
	<code class="sg">$typograghy-minus-3</code>
</p>
