<div class="typescale-line__left wds-font-size-xxl wds-{{fontWeightName}}">This is a headline.</div>
<div class="typescale-line__right">
	<p>Font weight: <strong>{{fontWeight}}px</strong><code class="typescale-line__code format-code">.wds-{{fontWeightName}}</code></p>
</div>
