<div class="typescale-line__left wds-font-size-xxl wds-{{textStyle}}">{{text}}</div>
<div class="typescale-line__right">
	<code class="typescale-line__code format-code">.wds-{{textStyle}}</code>
</div>
