@import 'styles';
@import 'base-styles/index';
@import 'components/index';

body {
	color: $color-black;
	font-family: $font-family;
	line-height: $line-height;
}

section {
	clear: both;
}

a {
	color: $color-link;
}

code {
	line-height: $line-height;
}

.hidden {
	display: none;
}

.main-header {
	border-bottom: 1px solid $color-off-white;
	color: $color-link;
	font-size: $typescale-size-plus-5;
	font-weight: bold;
	padding: 40px 30px 30px;
	text-align: center;
}

.main-navigation {
	float: left;
	width: 25%;
}

.main-content {
	float: left;
	width: 75%;
}

.variable-name {
	color: $color-music;
}
