@import 'styles';
@import 'base-styles/index';
@import 'components/index';
@import 'identity/index';

body {
	color: $color-black;
	font-family: $font-family;
	line-height: $line-height;
	margin: 0;
}

a {
	color: $color-link;
}

code, p {
	line-height: $line-height;
}

code,
pre {
	background-color: $color-off-white;
	border: 1px solid $color-mist-gray;
}

code {
	color: $color-music;

	&::before,
	&::after {
		content: '\00a0';
		letter-spacing: -.25rem;
	}
}

pre {
	overflow-x: auto;
	padding: .25rem .5rem;

	code {
		border: 0;
		color: $color-black;

		&::before,
		&::after {
			display: none;
		}
	}
}

.is-hidden {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
}

.main-header {
	border-bottom: 1px solid $color-light-c3;
	color: $color-link;
	font-size: $typescale-size-plus-6;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 34px;
	padding: 40px 30px 38px;
	text-align: center;
}

.main-navigation {
	color: $color-dark-blue-gray;
	float: left;
	width: 25%;

	.wds-list.wds-is-linked {
		padding-left: 0;

		> li > a {
			padding-left: 18px;
		}
	}

	li a {
		color: $color-slate-gray;
		text-decoration: none;

		&:hover {
			background-color: $color-off-white;
		}

		&.active {
			background-color: $color-off-white;
			color: $color-link;
		}
	}
}

.main-content {
	float: left;
	width: 75%;

	h1 {
		font-size: $typescale-size-plus-1;
		line-height: $line-height;
		margin-top: 18px;
	}

	h2 {
		border-bottom: 1px solid $color-light-c3;
		font-size: $typescale-size-minus-1;
		margin-bottom: 30px;
		padding-bottom: 1px;
	}

	section {
		margin-top: 50px;
	}
}

.variable-name {
	color: $color-music;
}
