@import 'wds';
@import 'base-styles/index';
@import 'components/index';

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-family;
	line-height: $line-height;
	margin: 0;
}

a {
	color: $color-link;
}

img {
	max-width: 100%;
}

.variable-name, .class-name {
	background-color: transparent;
	border: 0;
	color: $color-music;
}

code, p {
	line-height: $line-height;
}

code,
pre {
	background-color: $color-off-white;
	border: 1px solid $color-mist-gray;
}

code {
	&::before,
	&::after {
		content: '\00a0';
		letter-spacing: -.25rem;
	}
}

pre {
	font-size: 12px;
	line-height: $typescale-size-minus-2;
	margin-top: 30px;
	max-height: 300px;
	overflow-x: auto;
	padding: 14px;

	code {
		border: 0;
		color: $color-black;

		&::before,
		&::after {
			display: none;
		}
	}
}

p {
	margin-top: 0;
}

.is-hidden {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
}

.main-header {
	border-bottom: 1px solid $color-light-c3;
	color: $color-link;
	font-size: $typescale-size-plus-6;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 34px;
	padding: 40px 30px 38px;
	text-align: center;
}

.main-content {
	float: right;
	margin-bottom: 80px;
	width: 75%;

	h1 {
		font-size: $typescale-size-plus-1;
		line-height: $line-height;
		margin-bottom: 4px;
		margin-top: 12px;
	}

	h2 {
		border-bottom: 1px solid $color-light-c3;
		font-size: $typescale-size-minus-1;
		margin-bottom: 20px;
		padding-bottom: 1px;
	}

	section {
		margin-top: 30px;
	}
}

.alert-info {
	padding-left: 26px;
	position: relative;

	.wds-icon {
		color: $color-slate-gray;
		left: 0;
		position: absolute;
		top: 5px;
	}
}
