/* Layout independent classes */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

body > section {
	border: 1px solid black;
}

header {
	border: 1px solid orange;
}

header > section {
	border: 1px dashed orange;
}

header > section > section {
	border: 1px dotted orange;
	overflow: hidden;
}

header > section > section > div {
	border: 1px dotted orange;
	overflow: hidden;
}

nav {
	border: 1px solid fuchsia;
}

nav > section {
	border: 1px dashed fuchsia;
	overflow: hidden;
}

nav > section > div {
	border: 1px dotted fuchsia;
	overflow: hidden;
}

article {
	grid-area: article;
	border: 1px solid green;
}

aside {
	border: 1px solid blue;
}

footer {
	border: 1px solid purple;
}

footer > section {
	border: 1px dashed purple;
}

footer > section > section {
	border: 1px dotted purple;
	overflow: hidden;
}

footer > section > section > div {
	border: 1px dotted purple;
	overflow: hidden;
}

.article-section > section {
	border: 1px solid red;
}

/* Layout definitions */

/* NOTE: There's discussion happening right now on what the appropriate set of breakpoints should be.  For this
experiment, I've picked the set that's on http://fandomdesignsystem.com/#/base-styles/breakpoints at time of writing,
minus the 1084px breakpoint (because it's almost certainly going to be removed/replaced).
 */

/* $wds-breakpoint-s */
main {
	border: 1px solid gray;
	grid-template-areas: "article article article article article article article article article article article article";
}

article > aside {
	height: 25rem;
	width: 100%;
	margin: 0;
}

/* $wds-breakpoint-m */
@media only screen and (min-width: 768px) {
	article > aside {
		float: right;
		width: 300px;
		margin-left: var(--wds-grid-margin);
		margin-bottom: var(--wds-grid-margin);
	}
}

/* $wds-breakpoint-l */
@media only screen and (min-width: 1024px) {
}

/* $wds-breakpoint-xxl */
@media only screen and (min-width: 1596px) {
}
