/* Layout independent classes */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body > section {
    border: 1px solid black;
}

header {
    border: 1px solid orange;
}

header > section {
    border: 1px dashed orange;
}

header > section > section {
    border: 1px dotted orange;
    overflow: hidden;
}

header > section > section > div {
    border: 1px dotted orange;
    overflow: hidden;
}

nav {
    border: 1px solid fuchsia;
}

nav > section {
    border: 1px dashed fuchsia;
    overflow: hidden;
}

nav > section > div {
    border: 1px dotted fuchsia;
    overflow: hidden;
}

article {
    grid-area: article;
    border: 1px solid green;
}

aside {
    border: 1px solid blue;
}

footer {
    border: 1px solid purple;
}

footer > section {
    border: 1px dashed purple;
}

footer > section > section {
    border: 1px dotted purple;
    overflow: hidden;
}

footer > section > section > div {
    border: 1px dotted purple;
    overflow: hidden;
}

.article-section > section {
    border: 1px solid red;
}

/* Layout definitions */

/*
	NOTE: The breakpoints presented here match where the DS breakpoints will be going, not where they are now.
	small		0-599        covers all phones in portrait mode
	medium  	600-1023     more inclusive of larger phones being viewed in portrait mode
	large   	1024-1279    standard breakpoint
	xlarge  	1280-1499    common article viewing size
	xxlarge 	1500+        covers all of our largest screen sizes
*/

/* small */
main {
    border: 1px solid gray;
    grid-template-areas: "article article article article article article article article article article article article";
}

article > aside {
    height: 25rem;
    width: 100%;
    margin: 0;
}

/* medium */
@media only screen and (min-width: 600px) {
    article > aside {
        float: right;
        width: 300px;
        margin-left: var(--wds-grid-margin);
        margin-bottom: var(--wds-grid-margin);
    }
}

/* large */
@media only screen and (min-width: 1024px) {
}

/* x-large */
@media only screen and (min-width: 1280px) {
}

/* xx-large */
@media only screen and (min-width: 1500px) {
}

/* Some indicator of what we're looking at for each breakpoint */
/* small */
main:before {
    content: 'breakpoint: small';
    border: 5px solid #f0f;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
}

/* medium */
@media only screen and (min-width: 600px) {
    main:before {
        content: 'breakpoint: medium';
    }
}

/* large */
@media only screen and (min-width: 1024px) {
    main:before {
        content: 'breakpoint: large';
    }
}

/* x-large */
@media only screen and (min-width: 1280px) {
    main:before {
        content: 'breakpoint: x-large';
    }
}

/* xx-large */
@media only screen and (min-width: 1500px) {
    main:before {
        content: 'breakpoint: xx-large';
    }
}
