/* NOTE: to support older browsers, sensible defaults will need to be added anywhere these CSS custom properties
are used. This fallback behavior is better demonstrated in the 'theming' experiment, and is omitted here for brevity. */

/*
	NOTE: The breakpoints presented here match where the DS breakpoints will be going, not where they are now.
	small		0-767        covers all phones in portrait mode
	medium  	768-1023     more inclusive of larger phones being viewed in portrait mode
	large   	1024-1279    standard breakpoint
	xlarge  	1280+        common article viewing size
*/

/* small */
:root {
    --wds-grid-margin: 18px;
    --wds-gutter-width: 10px;
}

.wds-content-grid {
    display: grid;
    margin: 0 var(--wds-grid-margin);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: var(--wds-gutter-width);
    grid-row-gap: 0;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
}

/* medium */
@media (min-width: 768px) {
    :root {
        --wds-grid-margin: 18px;
        --wds-gutter-width: 10px;
    }
}

/* large */
@media (min-width: 1024px) {
    :root {
        --wds-grid-margin: 18px;
        --wds-gutter-width: 10px;
    }
}

/* x-large */
@media (min-width: 1280px) {
    :root {
        --wds-grid-margin: 18px;
        --wds-gutter-width: 10px;
    }
}
