/* NOTE: to support older browsers, sensible defaults will need to be added anywhere these CSS custom properties
are used. This fallback behavior is better demonstrated in the 'theming' experiment, and is omitted here for brevity. */

/* NOTE: There's discussion happening right now on what the appropriate set of breakpoints should be.  For this
experiment, I've picked the set that's on http://fandomdesignsystem.com/#/base-styles/breakpoints at time of writing,
minus the 1084px breakpoint (because it's almost certainly going to be removed/replaced).
 */

/* $wds-breakpoint-s */
:root {
	--wds-grid-margin: 12px;
	--wds-gutter-width: 5px;
}

.wds-content-grid {
	display: grid;
	margin: 0 var(--wds-grid-margin);
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	grid-column-gap: var(--wds-gutter-width);
	grid-row-gap: 0;
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
}

/* $wds-breakpoint-m */
@media (min-width: 768px) {
	:root {
		--wds-grid-margin: 18px;
		--wds-gutter-width: 12px;
	}
}

/* $wds-breakpoint-l */
@media (min-width: 1024px) {
	:root {
		--wds-grid-margin: 20px;
		--wds-gutter-width: 12px;
	}

	.wds-content-grid {
		grid-template-columns: repeat(12, 1fr);
	}
}

/* $wds-breakpoint-xxl */
@media (min-width: 1596px) {
	:root {
		--wds-gutter-width: 25px;
	}
}
