$custom-header-background-color: $wds-fandom-color-navy;
$custom-page-background-color: $wds-color-white;
$custom-text-color: $wds-fandom-color-text-dark;
$custom-link-color: $wds-fandom-color-link;
$custom-button-color: $wds-fandom-color-button-background;
$custom-border-color: $wds-color-faint-gray;

:root {
	--custom-page-background-color: #{$custom-page-background-color};
	--custom-page-background-color--secondary: #{$custom-page-background-color};

	--custom-text-color: #{$custom-text-color};
	--custom-text-color--hover: #{lighten($custom-text-color, $wds-active-color-modification-factor)};
	--custom-text-color--opacity-5: #{rgba($custom-text-color, 0.05)};
	--custom-text-color--opacity-10: #{rgba($custom-text-color, 0.1)};
	--custom-text-color--opacity-50: #{rgba($custom-text-color, 0.5)};
	--custom-text-color--placeholder: #{$wds-color-faint-gray};

	--custom-link-color: #{$custom-link-color};
	--custom-link-color--hover: #{lighten($custom-link-color, $wds-active-color-modification-factor)};
	--custom-link-color--opacity-10: #{rgba($custom-link-color, 0.1)};
	--custom-link-color--opacity-15: #{rgba($custom-link-color, 0.15)};

	--custom-border-color: #{$custom-border-color};

	--custom-button-background-color: #{$custom-button-color};
	--custom-button-background-color--opacity-15: #{rgba($custom-button-color, 0.15)};
	--custom-button-background-color--hover: #{darken($custom-button-color, $wds-active-color-modification-factor)};
	--custom-button-label-color: #{$wds-color-white};

	--custom-overlay-color: #{rgba($custom-text-color, 0.5)};

	--custom-page-text-mix-50: #{mix($custom-page-background-color, $custom-text-color, 50%)};
	--custom-page-button-mix-50: #{mix($custom-page-background-color, $custom-button-color, 50%)};

	--custom-header-background-color: #{$custom-header-background-color};
	--custom-header-background-color--opacity-50: #{rgba($custom-header-background-color, 0.5)};
	--custom-header-background-color--opacity-40: #{rgba($custom-header-background-color, 0.4)};
	--custom-header-background-color--opacity-20: #{rgba($custom-header-background-color, 0.2)};
	--custom-header-text-color: #{$wds-color-white};
	--custom-header-text-color--hover: #{darken($wds-color-white, $wds-active-color-modification-factor)};

	--global-navigation-background-color: #{$wds-fandom-color-navy};
	--global-navigation-text-color: #{$custom-text-color};
	--global-navigation-link-color: #{$wds-fandom-color-aqua};
	--global-navigation-border-color: #{$custom-border-color};
}
