// @use i @forward
// co z mixinami do themingu


// @use 'theme-variables' as theme with (
// 	$theme-page-background-color: ...
// )
$theme-page-background-color: $wds-color-white !default;
$theme-page-background-color--secondary: $wds-color-white !default;
$theme-text-color: $wds-fandom-color-text-dark !default;
$theme-link-color: $wds-fandom-color-link !default;
$theme-border-color: $wds-color-faint-gray !default;
$theme-button-color: $wds-fandom-color-button-background !default;
$theme-button-label-color: $wds-fandom-color-text-dark !default;
$theme-alert-color: $wds-color-alert !default;

$theme-header-background-color: $wds-fandom-color-navy !default;
$theme-header-text-color: $wds-color-white !default;

@function _rgb($color) {
	@return red($color), green($color), blue($color);
}

:root {
	--theme-page-background-color: #{$theme-page-background-color};
	--theme-page-background-color--secondary: #{$theme-page-background-color--secondary};

	--theme-text-color: #{$theme-text-color};
	--theme-text-color--rgb: #{_rgb($theme-text-color)};
	--theme-text-color--hover: #{lighten($theme-text-color, $wds-active-color-modification-factor)};

	--theme-link-color: #{$theme-link-color};
	--theme-link-color--rgb: #{_rgb($theme-link-color)};
	--theme-link-color--hover: #{lighten($theme-link-color, $wds-active-color-modification-factor)};

	--theme-border-color: #{$theme-border-color};

	--theme-button-background-color: #{$theme-button-color};
	--theme-button-background-color--rgb: #{_rgb($theme-button-color)};
	--theme-button-background-color--hover: #{darken($theme-button-color, $wds-active-color-modification-factor)};
	--theme-button-label-color: #{$theme-button-label-color};

	--theme-overlay-color: #{rgba($theme-text-color, 0.5)};

	--theme-page-text-mix-50: #{mix($theme-page-background-color, $theme-text-color, 50%)};
	--theme-page-button-mix-50: #{mix($theme-page-background-color, $theme-button-color, 50%)};

	--theme-header-background-color: #{$theme-header-background-color};
	--theme-header-background-color--rgb: #{_rgb($theme-header-background-color)};
	--theme-header-text-color: #{$theme-header-text-color};
	--theme-header-text-color--hover: #{darken($theme-header-text-color, $wds-active-color-modification-factor)};

	--global-navigation-background-color: #{$wds-fandom-color-navy};
	--global-navigation-link-color: #{$wds-fandom-color-aqua};
	--global-navigation-text-color: #{$wds-color-white};
	--global-navigation-border-color: #{$theme-border-color};

	--theme-alert-color:  #{$theme-alert-color};
}
