
$background-color: #006cb0;
.wds-community-header {
	@include community-header-theming($background-color);

	z-index: $z-4;
}

.color-5F1023.wds-community-header {
	@include community-header-theming(#5F1023);

	z-index: $z-3;
}

.color-787878.wds-community-header {
	@include community-header-theming(#787878);

	z-index: $z-2;
}

.color-FB7383.wds-community-header {
	@include community-header-theming(#FB7383);

	z-index: $z-1;
}
