//Theming. TODO: extract colors to variables so it is easily adjustable

$wds-page-header-bg-color: #006cb0;
$wds-page-header-text-color: $wds-color-white;

.wds-page-header {
	background-color: $wds-page-header-bg-color;
	color: $wds-page-header-text-color;

	&::before {
		background: linear-gradient(to right,rgba($wds-page-header-bg-color,0.5),rgba($wds-page-header-bg-color,0.5)),linear-gradient(to left,rgba(0,108,176,0) 200px,$wds-page-header-bg-color 430px);
	}

	&__wordmark-text {
		a {
			color: $wds-page-header-text-color;
		}
	}

	.wds-is-secondary {
		border-color: $wds-page-header-text-color;
		color: $wds-page-header-text-color;
	}
}