<h1>Buttons</h1>
<p>
	Buttons provide a way for users to interact with our applications.
	They can contain text, icons, or both and come in three different sizes: standard, squished, and stretched.
	To help with the CTA hierarchy on a screen buttons can be displayed as primary (filled), secondary (outlined),
	or just text (no container). Choosing the right button style ties directly to the importance of it in relation
	to the content around it on the screen.
</p>
<p>
	The HTML <code>&lt;button&gt;</code> element represents a clickable button.
	It provides a way for a user to interact with the application. Add <code class="format-code">.wds-button</code>
	class to apply Fandom Design System styling. This results with a default Primary button.
	There are two more base variants: Secondary and Text.
</p>
<p>
	Passing additional <code>disabled</code> attribute will change button's styling and functionality.
	This Boolean attribute indicates that the user cannot interact with the button.
	Other <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Attributes">
	valid HTML attributes</a> may be passed as well.
</p>

<section>
	<h2 id="primary">Primary buttons</h2>
	<p>Default version for general use.</p>
	{{#component-demo}}
		{{#wds-button}}Primary button{{/wds-button}}
		{{#wds-button disabled=true}}Primary disabled{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="secondary">Secondary buttons</h2>
	<p>Adding class <code class="format-code">.wds-is-secondary</code> changes the button's looks. It is used to create a button that draws less user's attention.</p>
	{{#component-demo}}
		{{#wds-button class='wds-is-secondary'}}Secondary button{{/wds-button}}
		{{#wds-button class='wds-is-secondary' disabled=true}}Secondary disabled{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="text">Text buttons</h2>
	<p>These buttons are denoted with <code class="format-code">.wds-is-text</code> class. They are the least obtrusive. Nevertheless, their paddings remain untouched, which provides the same clickable area.</p>
	{{#component-demo}}
		{{#wds-button class='wds-is-text'}}Text button{{/wds-button}}
		{{#wds-button class='wds-is-text' disabled=true}}Text disabled{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="sizes:regular">Button sizes: regular</h2>
	<p>Size of the button of any aforementioned variant can be adjusted. These are the default sizes of the buttons—for comparison.</p>
	{{#component-demo}}
		{{#wds-button}}Primary{{/wds-button}}
		{{#wds-button class='wds-is-secondary'}}Secondary{{/wds-button}}
		{{#wds-button class='wds-is-text'}}Text{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="sizes:squished">Button sizes: squished</h2>
	<p>To make the button smaller use <code class="format-code">.wds-is-squished</code> class. This can help with fitting a button in tighter layouts.</p>
	{{#component-demo}}
		{{#wds-button class='wds-is-squished'}}Primary{{/wds-button}}
		{{#wds-button class='wds-is-secondary wds-is-squished'}}Secondary{{/wds-button}}
		{{#wds-button class='wds-is-text wds-is-squished'}}Text{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="sizes:stretched">Button sizes: stretched</h2>
	<p>For a button greater in size use <code class="format-code">.wds-is-stretched</code> class. This may come in handy to draw more user's attention to the button and increase the clickable area around the label.</p>
	{{#component-demo}}
		{{#wds-button class='wds-is-stretched'}}Primary{{/wds-button}}
		{{#wds-button class='wds-is-secondary wds-is-stretched'}}Secondary{{/wds-button}}
		{{#wds-button class='wds-is-text wds-is-stretched'}}Text{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="other:multiline">Other usages: multiline button</h2>
	<p>Button labels can wrap to multiple lines.</p>
	{{#component-demo}}
		{{#wds-button class='fixed-width-140px'}}Multiline button label with 3rd line{{/wds-button}}
	{{/component-demo}}
</section>

<section>
	<h2 id="other:link">Other usages: link button</h2>
	<p>When no special handlers of the click event are needed—just navigation to a certain URL, consider using an anchor tag <code>&lt;a&gt;</code> styled as a button. It is achieved by adding a <code class="format-code">.wds-button</code> class just like for the <code>&lt;button&gt;</code> element. Optionally add any other desired button classes.</p>
	{{#component-demo}}
		{{#wds-button tagName='a' href='#'}}Link button{{/wds-button}}
		{{#wds-button tagName='a' href='#' class='wds-is-secondary'}}Secondary link button{{/wds-button}}
	{{/component-demo}}
</section>
