<h1>Dropdowns</h1>
<p>
	Dropdowns allow users to select from a list and should be clearly labeled to communicate the content inside it.
	Content inside dropdowns should be grouped by relativity and ranked on importance and/or value to a user.
</p>

<section>
	<h2 id="dropdowns-composition">Dropdown composition</h2>
	<p>Dropdown component consists of 3 elements:</p>
	<ul>
		<li>dropdown container (wraps dropdown toggle and dropdown content)</li>
		<li>dropdown toggle</li>
		<li>dropdown content</li>
	</ul>
	{{#component-demo codeOnly=true}}
<div class="wds-dropdown">
	<div class="wds-dropdown__toggle">…</div>
	<div class="wds-dropdown__content">…</div>
</div>
	{{/component-demo}}
</section>

<section>
	<h2 id="dropdowns-interactions">Interactions</h2>
	<p>
		On desktop, dropdown content is showing whenever user hovers over dropdown toggle. For touch
		devices when user taps on a dropdown toggle you need to add
		<code class="format-code">wds-is-active</code> class to the parent <code class="format-code">.wds-dropdown element</code>.
		There should be only one dropdown open at any time, so you should also remove this class from all the other dropdowns.
	</p>
</section>

<section>
	<h2 id="dropdowns-default-variant">Default</h2>
	<p>Default dropdown, aligned to left with delicate shadow.</p>
	<div class="wds-dropdown">
		<div class="wds-dropdown__toggle">
			<span>Default dropdown aligned to left</span>
			<svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny" />
			</svg>
		</div>
		<div class="wds-dropdown__content">
			<ul class="wds-list">
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
				<li>List item 4</li>
				<li>List item 5</li>
				<li>List item 6</li>
				<li>List item 7</li>
				<li>List item 8</li>
				<li>List item 9</li>
				<li>List item 10</li>
				<li>List item 11</li>
				<li>List item 12</li>
				<li>List item 13</li>
				<li>List item 14</li>
				<li>List item 15</li>
			</ul>
		</div>
	</div>
	{{#component-demo codeOnly=true}}
<div class="wds-dropdown">
	<div class="wds-dropdown__toggle">
		<span>Default dropdown aligned to left</span>
		<svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny" />
		</svg>
	</div>
	<div class="wds-dropdown__content">
		<ul class="wds-list">
			<li>List item 1</li>
			<li>List item 2</li>
			<li>List item 3</li>
		</ul>
	</div>
</div>
	{{/component-demo}}
</section>

<section>
	<h2 id="dropdowns-right-aligned-variant">Right aligned variant</h2>
	<p>
		Dropdown aligned to the right side of the container. To align dropdown to right, you have to add <code class="format-code">.wds-is-right-aligned</code> class to <code>wds-dropdown__content</code> element.
	</p>
	<div class="wds-dropdown">
		<div class="wds-dropdown__toggle">
			<span>Right aligned dropdown</span>
			<svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny" />
			</svg>
		</div>
		<div class="wds-dropdown__content wds-is-right-aligned">
			<ul class="wds-list">
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
			</ul>
		</div>
	</div>
	{{#component-demo codeOnly=true}}
<div class="wds-dropdown">
	<div class="wds-dropdown__toggle">…</div>
	<div class="wds-dropdown__content wds-is-right-aligned">…</div>
</div>
	{{/component-demo}}
</section>

<section>
	<h2 id="dropdowns-dark-variant">Dark variant</h2>
	<p>
		Dropdown with increased shadow intensity. To increase dropdown shadow intensity, you have to add <code class="format-code">.wds-is-dark</code> class to <code>wds-dropdown__content</code> element.
	</p>
	<div class="wds-dropdown">
		<div class="wds-dropdown__toggle">
			<span>Dark variant of dropdown</span>
			<svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny" />
			</svg>
		</div>
		<div class="wds-dropdown__content wds-is-dark">
			<ul class="wds-list">
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
			</ul>
		</div>
	</div>
	{{#component-demo codeOnly=true}}
<div class="wds-dropdown">
	<div class="wds-dropdown__toggle">…</div>
	<div class="wds-dropdown__content wds-is-dark">…</div>
</div>
	{{/component-demo}}
</section>

<section>
	<h2 id="dropdowns-demo">Demo for touch devices</h2>
	{{#wds-dropdown as |dropdown|}}
		{{#dropdown.toggle}}
			<span>Click me!</span>
		{{/dropdown.toggle}}
		{{#dropdown.content}}
			<ul class="wds-list">
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
			</ul>
		{{/dropdown.content}}
	{{/wds-dropdown}}
</section>
