<h1>Tabs</h1>
<p>
</p>

<section>
	<h2 id="text-only">Tabs with text only</h2>
	<!--<p>To display a regular list, add <code class="format-code">.wds-list</code> class in your <code>&lt;ul&gt;</code> tag.</p>-->

	{{#component-demo}}
		{{#wds-tabs-container}}

			{{#wds-tab class='has-dropdown' }}
				<a href="#">Tab with dropdown</a>
				{{wds-icon name='dropdown' size='tiny'}}
				{{#wds-dropdown as |dropdown|}}
					{{#dropdown.content}}
						<ul class="wds-list">
							<li>List item 1</li>
							<li>List item 2</li>
							<li>List item 3</li>
						</ul>
					{{/dropdown.content}}
				{{/wds-dropdown}}
			{{/wds-tab}}

			{{#wds-tab class='has-dropdown'}}
				<a href="#">{{wds-icon name='gear' size='small'}}Tab with icon</a>
				{{wds-icon name='dropdown' size='tiny'}}
			{{/wds-tab}}

			{{#wds-tab class='is-active'}}
				<a href="#">Active tab</a>
			{{/wds-tab}}

			{{#wds-tab class='is-disabled'}}
				<a href="#">Disabled tab</a>
			{{/wds-tab}}

			{{#wds-tab}}
				<a href="#">A really long tab that breaks into lines</a>
			{{/wds-tab}}

		{{/wds-tabs-container}}
	{{/component-demo}}
</section>

<section>
	<h2 id="text-and-icons">Tabs with text and icon</h2>
	<!--<p>To display list with more space around its elements, add class <code class="format-code">.wds-has-big-items</code>. This modificator makes padding broader and font size bigger in each element. </p>-->

	{{#component-demo}}
		{{#wds-tabs-container}}

			{{#wds-tab}}
				<a href="#">Tab link 1</a>
				{{#wds-dropdown as |dropdown|}}
					{{#dropdown.content}}
						<ul class="wds-list">
							<li>List item 1</li>
							<li>List item 2</li>
							<li>List item 3</li>
						</ul>
					{{/dropdown.content}}
				{{/wds-dropdown}}
			{{/wds-tab}}
			{{#wds-tab}}
				<a href="#">Tab link 2</a>
			{{/wds-tab}}
			{{#wds-tab}}
				<a href="#">Tab link 3</a>
			{{/wds-tab}}

		{{/wds-tabs-container}}
	{{/component-demo}}
</section>

<section>
	<h2 id="active-tab">Active tab indicator</h2>
	<!--<p><code class="format-code">.wds-has-lines-between</code> class adds subtle separator between each element of your list.</p>-->

	{{#component-demo}}
		{{#wds-list class="wds-has-lines-between"}}

	<li>List element 1</li>
	<li>List element 2</li>
	<li>List element 3</li>
		{{/wds-list}}
	{{/component-demo}}
</section>
