<h1>Action Buttons</h1>
<p>
	Action Buttons are buttons that are supposed to go over some element (like an image)
	and provide additional actions for the user.
	Action Button supports <code>&lt;button&gt;</code> and <code>&lt;a&gt;</code> elements.
	To use it simply add <code class="format-code">.wds-action-button</code> class.
</p>
<p>
	Multiple Action Buttons should be placed inside <code class="format-code">.wds-action-button-group</code>.
</p>

<section>
	<h2 id="action-button">Single Action Button</h2>
	{{#component-demo}}
		<a class="wds-action-button" href="http://fandom.wikia.com">
			{{wds-icon name='fandom-heart' size='small'}}
		</a>
	{{/component-demo}}
</section>

<section>
	<h2 id="action-button">Action Button Group</h2>
	{{#component-demo}}
		<div class="wds-action-button-group">
			<button class="wds-action-button">
				{{wds-icon name='cross'}}
			</button>
			<button class="wds-action-button">
				{{wds-icon name='trash' size='small'}}
			</button>
		</div>
	{{/component-demo}}
</section>
