.wds-global-navigation {
	.wds-user-modal {
		&__info {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 18px;

			.wds-avatar {
				@include wds-avatar(94px, $wds-fandom-color-middle-gray, $wds-color-white, $wds-fandom-color-middle-gray);
			}
		}

		&__username {
			color: $wds-fandom-color-navy;
			font-size: 18px;
			font-weight: bold;
			margin-top: 18px;
		}

		&__notifications-wrapper {
			display: flex;
			flex-direction: column;
			margin-top: 24px;
			margin-bottom: 92px;
		}

		&__sign-out-container {
			align-items: center;
			background-color: $wds-fandom-color-light-gray;
			bottom: 0;
			border-style: unset;
			box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .2);
			color: $wds-fandom-color-link;
			display: flex;
			font-size: 12px;
			font-weight: bold;
			height: 44px;
			justify-content: center;
			position: fixed;
			text-align: center;
			width: 100%;
		}

		.wds-sign-out__button {
			text-transform: uppercase;
		}
	}
}
