{{#wds-tabs as |tabs|}}
	{{#each model as |item|}}
		{{#tabs.tab data-tracking-label=item.tracking_label}}
			{{#if item.items}}
				{{wds-community-header/local-navigation-dropdown item=item}}
			{{else}}
				<div class="wds-tabs__tab-label">
					<a href="{{item.href}}">
						{{wds-community-header/nav-item-with-icon item=item}}
					</a>
				</div>
			{{/if}}
		{{/tabs.tab}}
	{{/each}}
{{/wds-tabs}}
