$border-top-width: 6px;
$nav-height: 49px;

.wds-global-navigation {
	border-top: $border-top-width solid $color-slate-gray;
	border-image: linear-gradient(to right, $color-dark-blue-gray 40%, $color-slate-gray 40%) 1 0 0;
	box-shadow: 0 1px 0 0 $color-faint-gray;
	//display: flex;
	//justify-content: center;

	//&::before, &::after {
	//	content: '';
	//	display: inline-block;
	//	flex-grow: 1;
	//	width: calc((100% - #{$nav-width}) / 2);
	//}

	//&::before {
	//	border-top: $border-top-width solid $color-dark-blue-gray;
	//	margin-top: -$border-top-width;
	//}

	&__content-bar {
		//align-items: center;
		//display: flex;
		height: $nav-height;
		margin: 0 auto;
		min-width: 1024px;

	//	@media #{$breakpoint-desktop-xl-up} {
			max-width: 1440px;
	//	}
	}



	&__content-bar2 {
		//align-items: center;
		//display: flex;
		height: $nav-height;
		margin: 0 auto;
		width: 1024px;

		@media #{$breakpoint-desktop-xl-up} {
			width: 1440px;
		}
	}

	&__logo {
		align-items: center;
		border-top: $border-top-width solid $color-dark-blue-gray;
		color: $color-slate-gray;
		display: flex;
		justify-content: center;
		font-size: $typescale-size-minus-3;
		font-weight: 600;
		margin-top: -$border-top-width;
		text-decoration: none;
		text-transform: uppercase;

		&__fandom {
			fill: $color-dark-blue-gray;
			height: 24px;
			width: 120px
		}

		&__wikia {
			fill: $color-dark-blue;
			height: 15px;
			width: 42px;
		}

		&__span {
			// TODO rename class
			padding: 2px 5px 0;
		}
	}

	&__todo {
		// TODO rename class
		display: flex;
	}

	&__content-item {
		border-top: $border-top-width solid $color-slate-gray;
		color: $color-dark-blue-gray;
		flex: 1;
		font-size: $typescale-size-minus-1;
		line-height: $nav-height;
		margin-top: -$border-top-width;
		padding: 0 5px;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: $color-link
		}

		&:active, &.wds-is-active {
			background-color: $color-slate-gray;
			border-color: darken($color-slate-gray, 20%);
			color: $color-white;
		}

		&.wds-is-green {
			border-color: $color-games;

			&:active, &.wds-is-active {
				background-color: $color-games;
				border-color: darken($color-games, 10%);
			}
		}

		&.wds-is-aqua {
			border-color: $color-movies;

			&:active, &.wds-is-active {
				background-color: $color-movies;
				border-color: darken($color-movies, 10%);
			}
		}

		&.wds-is-blue {
			border-color: $color-tv;

			&:active, &.wds-is-active {
				background-color: $color-tv;
				border-color: darken($color-tv, 10%);
			}
		}
	}

	&__todo2 {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__search {
		// TODO XW-1620
		background-color: lightgray;
		flex: 2;
	}

	&__start-a-wiki {
		//margin-left: 12px;
	}

	&__todo3 {
		flex: 0 1 50%;
	}
}
