.wds-list {
	display: block;
	list-style-type: none;
	margin: 18px;
	padding: 0;
}

.wds-list-item {
	display: flex;
	flex-direction: column;
	font-size: $typescale-size-minus-1;
	justify-content: center;
	min-height: 36px;

	&.wds-is-big {
		font-size: $typescale-size-base;
		min-height: 42px;
	}
}
