.wds-list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 18px;
}

.wds-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.wds-is-small {
    font-size: $typescale-size-minus-1;
    min-height: 36px;
  }

  &.wds-is-big {
    font-size: $typescale-size-base;
    min-height: 42px;
  }
}
