.wds-list {
	display: block;
	list-style-type: none;
	margin: 18px;
	padding: 0;
}

.wds-list-item {
	box-sizing: border-box;
	font-size: $typescale-size-minus-1;
	line-height: 1em;
	padding: 11px 0;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}

	&.wds-is-big {
		font-size: $typescale-size-base;
		padding: 16px 0;
	}

	&.wds-is-line-between {
		border-bottom: solid 1px $color-light-c3;

		&:last-child {
			border: 0;
		}
	}
}
