$font-size-header: 18px;
$font-size-normal: 14px;

.ds-fooxter {
	$block-desktop-col-1: 200px;
	$block-desktop-col-2: 120px;
	$block-desktop-col-3: 290px;
	$block-desktop-col-4: 205px;

	$block-desktop-row-1: 300px;
	$block-desktop-row-2: 200px;

	.follow-us {
		height: $block-desktop-row-2;
		width: $block-desktop-col-1;
	}

	.overview {
		height: $block-desktop-row-1;
		width: $block-desktop-col-2;
	}

	.overview-extended {
		height: $block-desktop-row-2;
		width: $block-desktop-col-2;
	}

	.community {
		height: $block-desktop-row-1;
		width: $block-desktop-col-3;
	}

	.community-extended {
		height: $block-desktop-row-2;
		width: $block-desktop-col-3;
	}

	.community-apps {
		height: $block-desktop-row-1;
		width: $block-desktop-col-4;
	}

	.advertise {
		height: $block-desktop-row-2;
		width: $block-desktop-col-4;
	}

	.standard-section{
		a, a:hover, a:active, a:visited {
			color: $color-blue-gray;
			font-size: $font-size-normal;
			font-weight: normal;
			line-height: 2em;
		}
	}

	.verticals {
		display: flex;
		flex-direction: column;
		height: $block-desktop-row-1;
		justify-content: space-between;
		width: $block-desktop-col-1;

		li {
			a, a:hover, a:active, a:visited {
				align-content: flex-start;
				align-items: flex-start;
				border-top: solid 4px $color-slate-gray;
				color: $color-white;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				font-size: $font-size-header;
				font-weight: bold;
				justify-content: space-between;
				margin: 0;
				padding: 8px 0 30px 0;

				&[data-vertical='games'] {
					border-color: $color-games;
				}

				&[data-vertical='movies'] {
					border-color: $color-movies;
				}

				&[data-vertical='tv'] {
					border-color: $color-tv;
				}
			}
		}
	}
}
