$global-footer-icon-size: 24px;

$global-footer-desktop-width: 1060px;
$global-footer-desktop-column-fandom: 25%;
$global-footer-desktop-column-wikia: 75%;
$global-footer-desktop-row-height-header: 100px;
$global-footer-desktop-row-height-top: 250px;
$global-footer-desktop-row-height-bottom: 200px;
$global-footer-desktop-logo-section-height: 60px;
$global-footer-desktop-logo-height: 24px;
$global-footer-desktop-height-sections: $global-footer-desktop-row-height-top + $global-footer-desktop-row-height-bottom;
$global-footer-desktop-height: $global-footer-desktop-row-height-header + $global-footer-desktop-height-sections;
$global-footer-section-line-width: 4px;
$global-footer-social-icon-size: $global-footer-icon-size;
$global-footer-social-icon-spacing: 20px;


// reset and set some defaults (that should be set in DS)
.global-footer {
	* {
		box-sizing: inherit;
	}

	// we should have class that removes defaults from UL
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}
// end of reset

.global-footer {
	background-color: $color-dark-blue-gray;
	box-sizing: border-box;
	color: $color-white;
}

// main title and license
.global-footer__header {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	margin: 0;
}

.global-footer__license {
	color: $color-white;
	background: $color-night-sky;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	padding: 16px 20px;
}

.global-footer__small-wikia-logo,
.global-footer__fandom-logo
{
	height: $global-footer-desktop-logo-height;
}

// "Home of Fandom" subtitle
.global-footer__home-of-fandom {
	display: inline-block;
}

// main content
.global-footer__main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

// left (Fandom) and right (Wikia) header and sections
.global-footer__fandom-header,
.global-footer__wikia-header {
	margin: 0;
}

.global-footer__fandom-sections,
.global-footer__wikia-sections {
	display: flex;
	flex-wrap: wrap;
}

.global-footer__fandom-section,
.global-footer__wikia-section {
	border-top: $global-footer-section-line-width solid $color-slate-gray;
	margin-right: 55px;
	padding: 8px 0 30px 0;
}

.global-footer__link,
.global-footer__link:hover,
.global-footer__link:active,
.global-footer__link:visited {
	color: $color-blue-gray;
	font-size: 16px;
	font-weight: normal;
	line-height: 2em;
	text-decoration: none;
}

.global-footer__fandom-section.has-verticals {
	border: 0;
	padding: 0;
}

.global-footer__section-header {
	color: $color-white;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}
.global-footer__section-description {
	color: $color-white;
	font-size: 16px;
	line-height: $line-height;
	margin: 0;
	padding: 0;
}

.global-footer__vertical-arrow {
	//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
	background: url(../bower_components/design-system/assets/icons/arrow.svg) no-repeat left top;
	background-size: 18px;
	display: inline-block;
	height: $global-footer-icon-size;
	margin: 0;
	padding: 0;
	transform: rotate(180deg);
	width: $global-footer-icon-size;
}

.global-footer__vertical {
	align-items: center;
	border-top: $global-footer-section-line-width solid $color-slate-gray;
	color: $color-white;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	justify-content: space-between;
	margin: 0;
	padding: 8px 0 36px 0;
	text-decoration: none;

	&.is-games {
		border-color: $color-games;
	}

	&.is-movies {
		border-color: $color-movies;
	}

	&.is-tv {
		border-color: $color-tv;
	}
}

.global-footer__start-a-wikia {
	border: solid 1px $color-blue-gray;
	color: $color-blue-gray;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.3px;
	margin-top: 13px;
	padding: 16px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.global-footer__app-badges {
	display: flex;
}

.global-footer__app-badge {
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	line-height: 1;
	height: 53px;
	width: 119px;

	&.is-appstore {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/company/store-appstore.svg);
	}

	&.is-googleplay {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/company/store-googleplay.svg);
	}
}

//Follow us section
.global-footer__social-icons-list {
	display: flex;
	flex-wrap: nowrap;
}

.global-footer__social-icon {
	background: no-repeat center;
	background-size: $global-footer-social-icon-size;
	display: inline-block;
	height: $global-footer-social-icon-size;
	margin-right: $global-footer-social-icon-spacing;
	width: $global-footer-social-icon-size;

	&.is-facebook {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/icons/facebook-default.svg);

		&:hover {
			background-image: url(../bower_components/design-system/assets/icons/facebook-active.svg);
		}
	}

	&.is-twitter {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/icons/twitter-default.svg);

		&:hover {
			background-image: url(../bower_components/design-system/assets/icons/twitter-active.svg);
		}
	}

	&.is-reddit {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/icons/reddit-default.svg);

		&:hover {
			background-image: url(../bower_components/design-system/assets/icons/reddit-active.svg);
		}
	}

	&.is-youtube {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/icons/youtube-default.svg);

		&:hover {
			background-image: url(../bower_components/design-system/assets/icons/youtube-active.svg);
		}
	}

	&.is-instagram {
		//@todo this URL solution will be fixed in https://wikia-inc.atlassian.net/browse/DAT-4523
		background-image: url(../bower_components/design-system/assets/icons/instagram-default.svg);

		&:hover {
			background-image: url(../bower_components/design-system/assets/icons/instagram-active.svg);
		}
	}
}

@media screen and (max-width:#{$breakpoint-desktop - 1}) {
	.global-footer__main {
		margin: 0 20px;
	}

	.global-footer__fandom-header,
	.global-footer__wikia-header {
		margin: 20px 0;
	}

	.global-footer__app-badges {
		justify-content: space-between;
	}

	// left (Fandom) and right (Wikia) sections
	.global-footer__fandom-sections,
	.global-footer__wikia-sections {
		> div,
		> ul {
			width: 100%;
			margin: 0;
		}
	}

	// items in Wikia section
	.global-footer__wikia-section.is-overview {
		order: 5;
		width: 50% !important;
	}

	.global-footer__wikia-section.is-overview > .global-footer__section-header {
		display: none;
	}

	.global-footer__wikia-section.is-overview-extended {
		order: 6;
		width: 50% !important;
	}

	.global-footer__wikia-section.is-community {
		order: 2;
	}

	.global-footer__wikia-section.is-community-extended {
		display: none;
	}

	.global-footer__wikia-section.is-community-apps {
		order: 4;
	}

	.global-footer__wikia-section.is-advertise {
		order: 1;
	}
}

@media #{$breakpoint-desktop-up} {
	.global-footer__main,
	.global-footer__header {
		margin: 0 auto;
		width: $global-footer-desktop-width;
	}

	// main content
	.global-footer__main {
		height: $global-footer-desktop-height;
	}

	// left (Fandom) and right (Wikia) headers and sections
	.global-footer__fandom-header,
	.global-footer__wikia-header {
		height: $global-footer-desktop-logo-section-height;
	}

	.global-footer__fandom-header {
		width: $global-footer-desktop-column-fandom;
	}

	.global-footer__fandom-sections {
		height: $global-footer-desktop-height-sections;
		width: $global-footer-desktop-column-fandom;
	}

	.global-footer__wikia-header {
		width: $global-footer-desktop-column-wikia;
	}

	.global-footer__wikia-sections {
		flex-direction: column;
		height: $global-footer-desktop-height-sections;
		width: $global-footer-desktop-column-wikia;
	}

	.global-footer__app-badges {
		flex-direction: column;
	}

	// items in Fandom section
	.global-footer__fandom-section {
		width: 200px;
	}

	// items in Wikia section
	.global-footer__wikia-section.is-overview {
		height: $global-footer-desktop-row-height-top;
		order: 1;
		width: 160px;
	}

	.global-footer__wikia-section.is-overview-extended {
		height: $global-footer-desktop-row-height-bottom;
		order: 2;
		width: 160px;
	}

	.global-footer__wikia-section.is-community {
		height: $global-footer-desktop-row-height-top;
		order: 3;
		width: 290px;
	}

	.global-footer__wikia-section.is-community-extended {
		height: $global-footer-desktop-row-height-bottom;
		display: block;
		order: 4;
		width: 290px;
	}

	.global-footer__wikia-section.is-community-apps {
		height: $global-footer-desktop-row-height-top;
		order: 5;
		width: 200px;
	}

	.global-footer__wikia-section.is-advertise {
		height: $global-footer-desktop-row-height-bottom;
		order: 6;
		width: 200px;
	}
}




