// These will live in design system after we ensure everything looks good in mobile-wiki
.wds-font-light {
	font-weight: 300;
}

.wds-font-normal {
	font-weight: 400;
}

.wds-font-medium {
	font-weight: 500;
}

.wds-font-bold {
	font-weight: 700;
}

.wds-font-black {
	font-weight: 900;
}
