// These will live in design system after we ensure everything looks good in mobile-wiki
.wds-text-2xs {
	font-size: 10px;
}

.wds-text-xs {
	font-size: 12px;
}

.wds-text-sm {
	font-size: 14px;
}

.wds-text-base {
	font-size: 16px;
}

.wds-text-lg {
	font-size: 18px;
}

.wds-text-xl {
	font-size: 24px;
}

.wds-text-2xl {
	font-size: 28px;
}

.wds-text-3xl {
	font-size: 36px;
}

.wds-text-4xl {
	font-size: 52px;
}
