/**
 * Color Aqua Blue:
 * `$color-aqua-blue`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-aqua-blue
 *       div.color-preview-code #00b7e0
 */
.color-aqua-blue {
  background-color: #00b7e0; }

/**
 * Color Aquamarine:
 * `$color-aquamarine`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-aquamarine
 *       div.color-preview-code #09d3bf
 */
.color-aquamarine {
  background-color: #09d3bf; }

/**
 * Color Barney:
 * `$color-barney`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-barney
 *       div.color-preview-code #c819ad
 */
.color-barney {
  background-color: #c819ad; }

/**
 * Typescale:
 *
 *     @example
 *     p
 *       div.typescale-size-plus-7 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-7
 *     p
 *       div.typescale-size-plus-6 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-6
 *     p
 *       div.typescale-size-plus-5 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-5
 *     p
 *       div.typescale-size-plus-4 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-4
 *     p
 *       div.typescale-size-plus-3 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-3
 *     p
 *       div.typescale-size-plus-2 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-2
 *     p
 *       div.typescale-size-plus-1 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-1
 *     p
 *       div.typescale-size-base The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-base
 *     p
 *       div.typescale-size-minus-1 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-1
 *     p
 *       div.typescale-size-minus-2 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-2
 *     p
 *       div.typescale-size-minus-3 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-3
 */
.typescale-size-base {
  font-size: 16px;
  line-height: 1.5em; }

.typescale-size-minus-1 {
  font-size: 14px;
  line-height: 1.5em; }

.typescale-size-minus-2 {
  font-size: 12px;
  line-height: 1.5em; }

.typescale-size-minus-3 {
  font-size: 10px;
  line-height: 1.5em; }

.typescale-size-plus-1 {
  font-size: 18px;
  line-height: 1.5em; }

.typescale-size-plus-2 {
  font-size: 24px;
  line-height: 1.5em; }

.typescale-size-plus-3 {
  font-size: 28px;
  line-height: 1.5em; }

.typescale-size-plus-4 {
  font-size: 36px;
  line-height: 1.5em; }

.typescale-size-plus-5 {
  font-size: 40px;
  line-height: 1.5em; }

.typescale-size-plus-6 {
  font-size: 48px;
  line-height: 1.5em; }

.typescale-size-plus-7 {
  font-size: 54px;
  line-height: 1.5em; }

.typescale-size-minus-3 {
  font-size: 10px;
  line-height: 1.5em; }
