{{#if model.subtitle}}
	<div class="wds-global-navigation__account-menu-dropdown-caption">{{i18n model.subtitle.key}}</div>
{{/if}}
<a href="{{href}}" rel="nofollow" class="{{linkClasses}}">{{i18n model.title.key}}</a>
