.color-preview-group,
.icon-preview-group {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.color-preview-card {
	margin: 10px;
}

.color-preview-box {
	border: 1px solid #ccc;
	height: 100px;
	width: 110px;
}

.color-preview-name,
.color-preview-variable,
.color-preview-value {
	border: solid #ccc;
	border-width: 0 1px 1px;
	padding: 5px;
	text-align: center;
	width: 100px;
	word-wrap: break-word;
}

.color-preview-variable,
.color-preview-value {
	font-family: monospace;
}

.icon-preview-card {
	margin: 10px;
	text-align: center;
	width: 110px;
	height: 110px;
}

.icon-preview-card .wds-icon {
	color: #656e78;
}

.icon-preview-card .wds-icon:hover {
	color: #c5ced9;
}

.icon-preview-card .wds-icon-name {
	padding: 5px;
}

.sg-dropdown-preview {
	display: inline-block;
	height: 250px;
	width: 250px;
}

.wds-dropdown-toggle {
	background: #00d4b4;
	color: #fff;
	height: 35px;
	padding: 0 10px;
}

.wds-dropdown-toggle .wds-dropdown-toggle-chevron {
	height: 35px;
	vertical-align: middle;
}

/* Remove default body margin on the footer element */
.wds-global-footer, .wds-global-navigation {
	margin: 0 -8px;
}
