/////////////////////////
// # Wikia Brand Colors
// ## Corporate Colors
$wds-color-blue-gray: #c5ced9;
$wds-color-dark-blue-gray: #39424d;
$wds-color-dark-blue: #092344;
$wds-color-faint-blue-gray: #f2f6fa;
$wds-color-light-blue-gray: #e6ebf2;
$wds-color-light-blue: #1a5eb8;
$wds-color-slate-gray: #656e78;

// ## Vertical Colors
$wds-color-books: #ff7f26;
$wds-color-comics: #ff5400;
$wds-color-games: #94d11f;
$wds-color-lifestyle: #ffd000;
$wds-color-movies: #09d3bf;
$wds-color-music: #c819ad;
$wds-color-tv: #00b7e0;

// ## Alerts
$wds-color-alert: #e81a3f;
$wds-color-message: #008c8f;
$wds-color-success: #018c30;
$wds-color-warning: #de5e33;

// ## Social network colors
$wds-color-social-facebook: #3b5998;
$wds-color-social-googleplus: #dd4b39;
$wds-color-social-instagram: #e02d69;
$wds-color-social-line: #00c300;
$wds-color-social-linkedin: #0077b5;
$wds-color-social-meneame: #ff6400;
$wds-color-social-nk: #4077a7;
$wds-color-social-odnoklassniki: #f96900;
$wds-color-social-reddit: #ff4500;
$wds-color-social-tumblr: #34465d;
$wds-color-social-twitter: #1da1f2;
$wds-color-social-vkontakte: #587ca3;
$wds-color-social-wykop: #fb803f;
$wds-color-social-weibo: #ff8140;
$wds-color-social-youtube: #cd201f;

/////////////////////////
// # Fandom Colors
$wds-color-link: #088488;

$wds-fandom-color-aqua: #00d6d6;
$wds-fandom-color-black: #0e191a;
$wds-fandom-color-button-background: #00cdd0;
$wds-fandom-color-coral: #ff776d;
$wds-fandom-color-dark-gray: #5f7a7b;
$wds-fandom-color-light-gray: #f2f5f5;
$wds-fandom-color-link: $wds-color-link;
$wds-fandom-color-link-hover: #005252;
$wds-fandom-color-mid-light-gray: #bed1cf;
$wds-fandom-color-middle-gray: #7f9998;
$wds-fandom-color-navy: #002a32;
$wds-fandom-color-purple: #5a2e4a;
$wds-fandom-color-red: #ee1a41;
$wds-fandom-color-beige: #eeecdc;
$wds-fandom-color-yellow: #dfec24;
$wds-fandom-color-text-light: #e6e6e6;
$wds-fandom-color-text-dark: #3a3a3a;

/////////////////////////
// # Gamepedia Colors
$wds-gamepedia-color-orange: #f58120;

/////////////////////////
// # Old Disussions Theming Colors - DEPRECATED
$wds-color-black: #1a1a1a;
$wds-color-dark-gray: #333;
$wds-color-faint-gray: #ccc;
$wds-color-light-gray: #999;
$wds-color-medium-gray: #666;
$wds-color-mist-gray: #e6e6e6;
$wds-color-night-sky: #262626;
$wds-color-off-white: #f6f6f6;
$wds-color-white: #fff;
