// Base variables
@import 'breakpoints';
@import 'colors';
@import 'icons';
@import 'player';
@import 'typography';
@import 'wds-breakpoints';
@import 'wds-grid';
@import 'z-index-scale';

$wds-rounded-corner-radius: 3px;
$wds-default-transition-duration: 300ms;
$wds-active-color-modification-factor: 20%;

// Component variables
$wds-button-transition-duration: $wds-default-transition-duration;
$wds-button-horizontal-padding: 18px;
$wds-button-vertical-padding: 7px;
$wds-button-horizontal-gap: 6px;

$wds-dropdown-border-radius: 4px;
$wds-dropdown-border-width: 1px;
$wds-dropdown-height: 270px;
$wds-dropdown-padding: 18px;

$wds-list-item-vertical-padding: 11px;

$wds-dialog-padding: 24px;

// global navigation variables
$wds-global-navigation-height: 55px;
$search-transition-duration: 200ms;

