<h1>Colors</h1>
<p>
  Lead and Secondary colors. A FANDOM rainbow, if you will.
</p>
<p>
  To use one of below colors, instead of color"s hex representation apply suitable SCSS variable.
  It"s recommended to use available color variables to keep consistency.
</p>

<section>
  <h2 id="fandom-colors">Fandom Colors</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#00d6d6"
      @name="Aqua"
      @variable="$wds-fandom-color-aqua"
    />
    <ColorBox
      @hex="#0e191a"
      @name="Black"
      @variable="$wds-fandom-color-black"
    />
    <ColorBox
        @hex="#00cdd0"
        @name="Button background"
        @variable="$wds-fandom-color-button-background"
    />
    <ColorBox
      @hex="#ff776d"
      @name="Coral"
      @variable="$wds-fandom-color-coral"
    />
    <ColorBox
      @hex="#5f7a7b"
      @name="Dark Gray"
      @variable="$wds-fandom-color-dark-gray"
    />
    <ColorBox
      @hex="#f2f5f5"
      @name="Light Gray"
      @variable="$wds-fandom-color-light-gray"
    />
    <ColorBox
      @hex="#088488"
      @name="Link"
      @variable="$wds-fandom-color-link / $wds-color-link"
    />
    <ColorBox
      @hex="#005252"
      @name="Link Hover"
      @variable="$wds-fandom-color-link-hover"
    />
    <ColorBox
      @hex="#bed1cf"
      @name="Mid Light Gray"
      @variable="$wds-fandom-color-mid-light-gray"
    />
    <ColorBox
      @hex="#7f9998"
      @name="Middle Gray"
      @variable="$wds-fandom-color-middle-gray"
    />
    <ColorBox
      @hex="#002a32"
      @name="Navy"
      @variable="$wds-fandom-color-navy"
    />
    <ColorBox
      @hex="#5a2e4a"
      @name="Purple"
      @variable="$wds-fandom-color-purple"
    />
    <ColorBox
      @hex="#ee1a41"
      @name="Red"
      @variable="$wds-fandom-color-red"
    />
    <ColorBox
      @hex="#eeecdc"
      @name="Beige"
      @variable="$wds-fandom-color-beige"
    />
    <ColorBox
      @hex="#dfec24"
      @name="Yellow"
      @variable="$wds-fandom-color-yellow"
    />
  </div>
</section>

<section>
  <h2 id="wikia-corporate-colors">Wikia Corporate Colors</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#092344"
      @name="Dark Blue"
      @variable="$wds-color-dark-blue"
    />
    <ColorBox
      @hex="#1a5eb8"
      @name="Light Blue"
      @variable="$wds-color-light-blue"
    />
    <ColorBox
      @hex="#39424d"
      @name="Dark Blue Gray"
      @variable="$wds-color-dark-blue-gray"
    />
    <ColorBox
      @hex="#656e78"
      @name="Medium Gray"
      @variable="$wds-color-slate-gray"
    />
    <ColorBox
      @hex="#c5ced9"
      @name="Blue Gray"
      @variable="$wds-color-blue-gray"
    />
    <ColorBox
      @hex="#e6ebf2"
      @name="Light Blue Gray"
      @variable="$wds-color-light-blue-gray"
    />
    <ColorBox
      @hex="#f2f6fa"
      @name="Gray"
      @variable="$wds-color-faint-blue-gray"
    />
    <ColorBox
      @hex="#fff"
      @name="White"
      @variable="$wds-color-white"
      class="is-bordered"
    />
  </div>
</section>

<section>
  <h2 id="light-theme">Light Theme</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#fff"
      @name="White 100%"
      @variable="$wds-color-light-c1"
      class="is-bordered"
    />
    <ColorBox
      @hex="#f6f6f6"
      @name="Off-White 96%"
      @variable="$wds-color-light-c2"
    />
    <ColorBox
      @hex="#e6e6e6"
      @name="Mist Gray 90%"
      @variable="$wds-color-light-c3"
    />
    <ColorBox
      @hex="#ccc"
      @name="Faint Gray 80%"
      @variable="$wds-color-light-c4"
    />
    <ColorBox
      @hex="#999"
      @name="Light Gray 60%"
      @variable="$wds-color-light-c5"
    />
    <ColorBox
      @hex="#333"
      @name="Dark Gray 20%"
      @variable="$wds-color-light-c6"
    />
    <ColorBox
      @hex="#666"
      @name="Medium Gray 40%"
      @variable="$wds-color-light-c7"
    />
    <ColorBox
      @hex="#e3bd00"
      @name="Gold"
      @variable="$wds-color-light-c8"
    />
  </div>
</section>

<section>
  <h2 id="dark-theme">Dark Theme</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#262626"
      @name="Dark Gray 15%"
      @variable="$wds-color-dark-c1"
    />
    <ColorBox
      @hex="#1a1a1a"
      @name="Dark Gray 10%"
      @variable="$wds-color-dark-c2"
    />
    <ColorBox
      @hex="#333"
      @name="Dark Gray 20%"
      @variable="$wds-color-dark-c3"
    />
    <ColorBox
      @hex="#666"
      @name="Medium Gray 40%"
      @variable="$wds-color-dark-c4"
    />
    <ColorBox
      @hex="#999"
      @name="Ligt Gray 60%"
      @variable="$wds-color-dark-c5"
    />
    <ColorBox
      @hex="#ccc"
      @name="Faint Gray 80%"
      @variable="$wds-color-dark-c6"
    />
    <ColorBox
      @hex="#fff"
      @name="White 100%"
      @variable="$wds-color-dark-c7"
      class="is-bordered"
    />
    <ColorBox
      @hex="#e3bd00"
      @name="Gold"
      @variable="$wds-color-dark-c8"
    />
  </div>
</section>

<section>
  <h2 id="alerts">Alerts</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#e81a3f"
      @name="Alert/Delete"
      @variable="$wds-color-alert"
    />
    <ColorBox
      @hex="#de5e33"
      @name="Warning/Reported"
      @variable="$wds-color-warning"
    />
    <ColorBox
      @hex="#018c30"
      @name="Success/Approve"
      @variable="$wds-color-success"
    />
    <ColorBox
      @hex="#008c8f"
      @name="General/Message"
      @variable="$wds-color-message"
    />
  </div>
</section>

<section>
  <h2 id="alerts">Social</h2>
  <div class="colors-wrapper">
    <ColorBox
      @hex="#3b5998"
      @name="Facebook"
      @variable="$wds-color-social-facebook"
    />
    <ColorBox
      @hex="#dd4b39"
      @name="Google Plus"
      @variable="$wds-color-social-googleplus"
    />
    <ColorBox
      @hex="#e02d69"
      @name="Instagram"
      @variable="$wds-color-social-instagram"
    />
    <ColorBox
      @hex="#00c300"
      @name="Line"
      @variable="$wds-color-social-line"
    />
    <ColorBox
      @hex="#0077b5"
      @name="LinkedIn"
      @variable="$wds-color-social-linkedin"
    />
    <ColorBox
      @hex="#ff6400"
      @name="Meneame"
      @variable="$wds-color-social-meneame"
    />
    <ColorBox
      @hex="#4077a7"
      @name="NK"
      @variable="$wds-color-social-nk"
    />
    <ColorBox
      @hex="#f96900"
      @name="Odnoklassniki"
      @variable="$wds-color-social-odnoklassniki"
    />
    <ColorBox
      @hex="#ff4500"
      @name="Reddit"
      @variable="$wds-color-social-reddit"
    />
    <ColorBox
      @hex="#34465d"
      @name="Tumblr"
      @variable="$wds-color-social-tumblr"
    />
    <ColorBox
      @hex="#1da1f2"
      @name="Twitter"
      @variable="$wds-color-social-twitter"
    />
    <ColorBox
      @hex="#587ca3"
      @name="VKontakte"
      @variable="$wds-color-social-vkontakte"
    />
    <ColorBox
      @hex="#fb803f"
      @name="Wykop"
      @variable="$wds-color-social-wykop"
    />
    <ColorBox
      @hex="#ff8140"
      @name="Weibo"
      @variable="$wds-color-social-weibo"
    />
    <ColorBox
      @hex="#cd201f"
      @name="YouTube"
      @variable="$wds-color-social-youtube"
    />
  </div>
</section>

<section>
  <h2 id="example">Example usage</h2>
  <Demo @name="colors-scss" @language="scss" @codeOnly={{true}}>
    body {
      background-color: $wds-color-off-white;
      color: $wds-color-dark-blue-gray;
    }

    .button {
      border: 1px solid $wds-color-tv;
    }
  </Demo>
</section>
