<div class="container">
	<header class="main-header">Fandom Design System</header>
	<nav class="main-navigation">
		{{#wds-list}}
			{{#each navigation as |parentRoute|}}
			<li>
				<strong>{{parentRoute.name}}</strong>
				{{#wds-list class="wds-is-linked"}}
					{{#each parentRoute.items as |route|}}
						<li>{{#link-to route.location}}{{route.name}}{{/link-to}}</li>
					{{/each}}
				{{/wds-list}}
				</li>
			{{/each}}
		{{/wds-list}}
	</nav>
	<article class="main-content">
		{{outlet}}
	</article>
</div>