<div class="wds-global-footer__bottom-bar-row wds-has-padding">
	Witcher Wiki is a Fandom Games Community. Content is available under <a href="#">CC-BY-SA</a>.
</div>
<div class="wds-global-footer__bottom-bar-row wds-has-border-top global-footer-full-site-link-wrapper">
	<a id="global-footer-full-site-link" href="#" rel="nofollow" class="wds-global-footer__button-link">
		View Full Site
	</a>
</div>
