.component-demo__standalone {
	height: 80vh;
}

.separator {
	background-color: white;
	height: 200px;
	margin-bottom: 20px;
	width: 100%;
}

.wds-community-header {
	@include community-header-theming(
		#006CB0,
		#3A3A3A,
		#006CB0,
		white,
		#CCC
	);

	z-index: $z-5;
}

.color-5F1023.wds-community-header {
	@include community-header-theming(
		black,
		#D5D4D4,
		#5A91CF,
		#181818,
		#464646
	);

	z-index: $z-4;
}

.separator-FF0000 {
	background-color: #DD3509;
}

.color-FF0000.wds-community-header {
	@include community-header-theming(
		#ff0000,
		#3a3a3a,
		#006cb0,
		#ff9999,
		mix(#ff0000, black, 80%)
	);

	z-index: $z-3;
}

.separator-5F1023 {
	background-color: #181818;
}

.color-787878.wds-community-header {
	@include community-header-theming(
		#006CB0,
		#D5D4D4,
		#71D1EF,
		rgb(2, 2, 2),
		#3E4757
	);

	z-index: $z-2;
}

.separator-787878 {
	background-color: #0E182B;
}

.color-FB7383.wds-community-header {
	@include community-header-theming(
		#FE7E03,
		#3A3A3A,
		#7E0400,
		#FEE77D,
		#CBB964
	);

	z-index: $z-1;
}

.separator-FB7383 {
	background-color: #FEE77D;
}
