.component-demo__standalone {
	height: 80vh;
}

.navigation-wrapper {
	height: 55px;
}

.dummy-page {
	height: 2000px;
}

.separator {
	background-color: white;
	height: 100px;
	margin-bottom: 20px;
	width: 100%;
}

.wds-community-header {
	--custom-header-background-color: #006CB0;
	--custom-header-background-color--opacity-40: #{rgba(#006CB0, 0.4)};
	--custom-header-background-color--opacity-20: #{rgba(#006CB0, 0.2)};
	--custom-header-text-color: #3A3A3A;
	--custom-header-text-color--hover: #006CB0;

	z-index: $z-4;
}

.color-5F1023.wds-community-header {
	--custom-header-background-color: #000;
	--custom-header-background-color--opacity-40: #{rgba(#000, 0.4)};
	--custom-header-background-color--opacity-20: #{rgba(#000, 0.2)};
	--custom-header-text-color: #D5D4D4;
	--custom-header-text-color--hover: #5A91CF;

	z-index: $z-3;
}

.separator-5F1023 {;;;;;
	background-color: #181818;
}

.color-787878.wds-community-header {
	--custom-header-background-color: #2193D7;
	--custom-header-background-color--opacity-40: #{rgba(#2193D7, 0.4)};
	--custom-header-background-color--opacity-20: #{rgba(#2193D7, 0.2)};
	--custom-header-text-color: #D5D4D4;
	--custom-header-text-color--hover: #71D1EF;

	z-index: $z-2;
}

.separator-787878 {
	background-color: #0E182B;
}

.color-FB7383.wds-community-header {
	--custom-header-background-color: #FE7E03;
	--custom-header-background-color--opacity-40: #{rgba(#FE7E03, 0.4)};
	--custom-header-background-color--opacity-20: #{rgba(#FE7E03, 0.2)};
	--custom-header-text-color: #3A3A3A;
	--custom-header-text-color--hover: #7E0400;

	z-index: $z-1;
}

.separator-FB7383 {
	background-color: #FEE77D;
}
