<h1>Browser Theming</h1>
<section>
	<p>
		Since version 39 Google Chrome supports theme-color meta tag. It is meant to add basic browser theming by changing the color of address bar.
	</p>
	<p>
		This color should match the color of Global Navigation bar. Pasting <code class="format-code">&lt;meta name="theme-color" content="#002a32"&gt;</code>
		within <code class="format-code">&lt;head&gt;&lt;/head&gt;</code> will result in such mobile Chrome experience:
	</p>
	<img class="asset-theme-color asset-box__asset" src="/images/theme-color.png">
</section>

