<h1>Avatars</h1>
<p>In order to use Design System Avatars, you need to import <code>/components/_avatar.scss</code> partial in your SCSS file.</p>

<section>
	<h2 id="avatar-square">Square avatar</h2>

	{{wds-avatar src="/images/avatar.jpg" alt="user name"}}
</section>

<section>
	<h2 id="avatar-circle">Circle avatar</h2>

	{{wds-avatar src="/images/avatar.jpg" class="wds-is-circle wds-is-padded-right" alt="user name"}}
</section>

