<section>
	<h2>Square avatar</h2>

	{{wds-avatar src="/images/avatar.jpg" alt="user name"}}
</section>

<section>
	<h2>Circle avatar</h2>

	{{wds-avatar src="/images/avatar.jpg" class="wds-is-circle wds-is-padded-right" alt="user name"}}
</section>

