<h1>Avatars</h1>
<p>In order to use Design System Avatars, you need to import <code>/components/_avatar.scss</code> partial in your SCSS file.</p>

<section>
	<h2 id="avatar-square">Square avatar</h2>
	<p>To display an avatar image encapsulated in a square box, use <code class="variable-name">.wds-avatar</code> class in your <code>&lt;img&gt;</code> tag.</p>

	{{#component-demo}}
{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	{{/component-demo}}
</section>

<section>
	<h2 id="avatar-circle">Circle avatar</h2>
	<p>To display a circle avatar, beside <code class="variable-name">.wds-avatar</code> class add also <code class="variable-name">.wds-is-circle</code> class.</p>

	{{#component-demo}}
{{wds-avatar src=(concat rootURL 'images/craig.jpg') class='wds-is-circle' alt='user name'}}
	{{/component-demo}}
</section>
