<section>
	<h2>List</h2>

	{{wds-list}}
</section>

<section>
	<h2>Big list</h2>

	{{wds-list modificators="wds-has-big-items"}}
</section>

<section>
	<h2>List with line separator</h2>

	{{wds-list modificators="wds-has-lines-between"}}
</section>