{{#if standalone}}
	{{outlet}}
{{else}}
	<h1>Global Footer</h1>

	<h2>Global Footer with hubs</h2>
	{{#component-demo
		codeOnly=true
		componentName='wds-global-footer'
		standalone=true
		variantUrl='/identity/global-footer/standalone/with-hubs'
	}}
{{wds-global-footer model=model.with-hubs}}
	{{/component-demo}}

	<h2>Global Footer without hubs</h2>
	{{#component-demo
		codeOnly=true
		componentName='wds-global-footer'
		standalone=true
		variantUrl='/identity/global-footer/standalone/without-hubs'
	}}
{{wds-global-footer model=model.without-hubs}}
	{{/component-demo}}
{{/if}}
