@import '../../wds-mixins/ready/wds-avatar';

.wds-avatar {
	@include wds-avatar();

	--wds-avatar-border-color: var(--custom-border-color);
	--wds-avatar-border-color--hover: var(--custom-link-color);
	--wds-avatar-background-color: var(--custom-page-background-color);

	display: inline-block;
	position: relative;

	@include square(var(--wds-avatar-size));

	a {
		color: var(--wds-avatar-border-color);
		height: 100%;
		width: 100%;

		&:hover {
			color: var(--wds-avatar-border-color--hover);
		}
	}

	&__image {
		@include square(100%);

		border-radius: 50%;
		box-sizing: border-box;
		background-color: var(--wds-avatar-background-color);
		color: var(--wds-avatar-border-color);
		display: inline-block;
		fill: currentColor;
		transition: border-color $wds-button-transition-duration, color $wds-button-transition-duration;

		&:hover {
			color: var(--wds-avatar-border-color--hover);
		}
	}

	img.wds-avatar__image {
		border: solid var(--wds-avatar-border-width) currentColor;
	}

	&__badge {
		@include square(var(--wds-avatar-badge-size));

		left: var(--wds-avatar-badge-left);
		line-height: 0;
		position: absolute;
		top: var(--wds-avatar-badge-top);

		svg {
			@include square(100%);
		}
	}
}
