.wds-button {
	--primary-button-background-color: var(--wds-button-background-color);
	--primary-button-background-color--hover: var(--wds-button-background-color--hover);
	--primary-button-label-color: var(--wds-button-label-color);
	--secondary-button-label-color: var(--wds-text-color);
	--secondary-button-label-color--hover: var(--wds-text-color--hover);
	--text-button-label-color: var(--wds-text-color);
	--text-button-label-color--hover: var(--wds-text-color--hover);

	align-items: center;
	-webkit-appearance: none;
	background-color: var(--primary-button-background-color);
	border: 1px solid var(--primary-button-background-color);
	border-radius: $wds-rounded-corner-radius;
	box-sizing: content-box;
	color: var(--primary-button-label-color);
	cursor: default;
	display: inline-flex;
	font-size: $wds-font-size-xs;
	font-weight: 600;
	justify-content: center;
	letter-spacing: .15px;
	line-height: 16px;
	margin: 0;
	min-height: $wds-icon-small-size;
	outline: none;
	padding: $wds-button-vertical-padding $wds-button-horizontal-padding;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: $wds-button-transition-duration;
	transition-property: background-color, border-color, color;
	vertical-align: top;

	@at-root button#{&}, a#{&} {
		cursor: pointer;
	}

	// active state
	&:focus-visible,
	&:hover,
	&:active,
	&.wds-is-active {
		--primary-button-background-color: var(--primary-button-background-color--hover);

		color: var(--primary-button-label-color);
		text-decoration: none;
	}

	&:disabled {
		cursor: default;
		opacity: .5;
		pointer-events: none;
	}

	&.wds-is-full-width {
		display: flex;
	}

	&.wds-is-square {
		@include square(36px);

		align-items: center;
		display: inline-flex;
		justify-content: center;
		padding: 0;
	}

	&.wds-is-secondary {
		&, &:disabled {
			background: none;
			border-color: currentColor;
			color: var(--secondary-button-label-color);
		}

		&:focus-visible,
		&:hover,
		&:active,
		&.wds-is-active {
			--secondary-button-label-color: var(--secondary-button-label-color--hover);
		}
	}

	&.wds-is-text {
		&, &:disabled {
			background: none;
			border: 0;
			color: var(--text-button-label-color);
		}

		&:focus-visible,
		&:hover,
		&:active,
		&.wds-is-active {
			--text-button-label-color: var(--text-button-label-color--hover);
		}
	}

	.wds-icon {
		align-self: center;
		pointer-events: none;
		margin: 0 $wds-button-horizontal-gap;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.wds-list {
		color: $wds-color-black;
		font-weight: normal;
		letter-spacing: normal;
		text-align: left;
		text-transform: none;
	}

	.wds-dropdown__content {
		top: calc(100% + 1px);
	}
}
