.wds-community-header {
	$wds-community-header-background-height: 105px;
	$wds-community-header-background-height-small-breakpoint: 115px;
	$wds-community-header-background-width: 430px;
	$wds-community-header-background-width-small-breakpoint: 471px;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: var(--custom-header-background-color) no-repeat right center;
	background-size: contain;
	height: $wds-community-header-background-height;
	position: relative;
	z-index: 1;

	@media #{$wds-breakpoint-l-down} {
		height: $wds-community-header-background-height-small-breakpoint;
	}

	&::before {
		--custom-header-gradient-start: 200px;
		--custom-header-gradient-end: #{$wds-community-header-background-width};

		background: linear-gradient(to right, var(--custom-header-background-color--opacity-50), var(--custom-header-background-color--opacity-50)),
			linear-gradient(to left, transparent var(--custom-header-gradient-start), var(--custom-header-background-color) var(--custom-header-gradient-end));
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: -1;

		@media #{$wds-breakpoint-l-down} {
			--custom-header-gradient-end: #{$wds-community-header-background-width-small-breakpoint};
		}
	}

	&__wordmark {
		float: left;
		height: 65px;
		margin: 20px 0 20px 20px;
		max-width: 250px;
		width: auto;

		img {
			height: auto;
			max-height: 100%;
			max-width: 100%;
			width: auto;
		}

		@media #{$wds-breakpoint-l-down} {
			height: 49px;
			margin-bottom: 0;
			max-width: 175px;
		}
	}

	&__top-container {
		display: flex;
		height: 59px;

		@media #{$wds-breakpoint-l-down} {
			height: 69px;
		}
	}

	&__sitename {
		flex: 1;
		font-size: $wds-font-size-xxl;
		font-weight: 600;
		line-height: 1;
		margin: 25px 0 0 18px;
		overflow: hidden;

		a {
			color: var(--custom-header-text-color);
			text-decoration: none;
			transition: color $wds-default-transition-duration;

			&:hover {
				color: var(--custom-header-text-color--hover);
			}

			@media #{$wds-breakpoint-xl-up} {
				display: inline-block;
				height: 100%;
				// Safari cut bottom of letter, line-height set to 1.2 fixed it
				line-height: 1.2;
				text-decoration: none;
			}
		}

		@media #{$wds-breakpoint-l-down} {
			font-size: $wds-font-size-xl;
			margin-top: 20px;
			max-height: 3 * $wds-font-size-xl;
			white-space: normal;
			word-wrap: break-word;
		}

		@media #{$wds-breakpoint-xl-up} {
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__counter {
		color: var(--custom-header-text-color);
		font-weight: 600;
		text-align: right;
		margin: 17px 0 20px 20px;

		@media #{$wds-breakpoint-l-down} {
			margin-top: 22px;
		}
	}

	&__counter-value {
		display: block;
		font-size: $wds-font-size-xl;
		line-height: 1;

		@media #{$wds-breakpoint-l-down} {
			font-size: $wds-font-size-l;
		}
	}

	&__counter-label {
		display: block;
		font-size: $wds-font-size-xs;
		line-height: 1;
		margin-top: 3px;
		text-transform: uppercase;

		@media #{$wds-breakpoint-l-down} {
			font-size: $wds-font-size-xxs;
		}
	}

	&__wiki-buttons {
		margin: 20px 20px auto 15px;

		.wds-dropdown__toggle {
			padding: 7px 3px;
		}
	}

	&__local-navigation {
		display: flex;
		height: 46px;
		padding-left: 6px;

		a[href="#"] {
			cursor: default;
		}

		.wds-dropdown__toggle-chevron {
			opacity: .5;
		}

		.wds-dropdown:hover {
			.wds-dropdown__toggle-chevron {
				opacity: 1;
			}
		}

		@media #{$wds-breakpoint-l-down} {
			clear: both;
		}

		@media #{$wds-breakpoint-m-down} {
			.wds-tabs__tab-label {
				font-size: $wds-font-size-xxs;
			}
		}
	}

	.wds-button.wds-is-secondary {
		--wds-secondary-button--label: var(--custom-header-text-color);
		--wds-secondary-button--label--hover: var(--custom-header-text-color--hover);

		background-color: var(--custom-header-background-color--opacity-20);
		transition-property: border-color, background-color, color;

		&:hover {
			background-color: var(--custom-header-background-color--opacity-40);
		}
	}

	.wds-button-group {
		--button-group-border-color: var(--custom-header-text-color);
	}

	.wds-tabs {
		--tab-color: var(--custom-header-text-color);
		--tab-color--active: var(--custom-header-text-color--hover);
	}

	.wds-avatar-stack .user-avatar .avatar .user-avatar__image {
		border-color: var(--custom-header-text-color);
	}
}
