.wds-pill {
	--wds-pill-background-color: var(--custom-text-color--opacity-5);
	--wds-pill-border-color: var(--custom-border-color);
	--wds-pill-label-color: var(--custom-text-color);
	--wds-pill-background-color--active: var(--custom-button-background-color--opacity-15);
	--wds-pill-border-color--active: var(--custom-button-background-color);
	--wds-pill-label-color--active: var(--custom-text-color);


	background-color: var(--wds-pill-background-color);
	border: 1px solid var(--wds-pill-border-color);
	border-radius: 27px;
	display: inline-block;
	font-size: $wds-font-size-s;
	font-weight: $wds-font-weight-medium;
	letter-spacing: 0.25px;
	line-height: $wds-line-height-none;
	margin: 3px 6px 3px 0;
	transition: border $wds-default-transition-duration, background-color $wds-default-transition-duration;

	&__label {
		color: var(--pill-label-color);
		align-items: center;
		display: inline-flex;
		padding: 9px 12px;
		white-space: nowrap;
		transition: color $wds-default-transition-duration;

		.wds-icon {
			margin-right: 6px;
		}
	}

	&.wds-is-active {
		background-color: var(--pill-background-color--active);
		border-color: var(--pill-border-color--active);
		cursor: default;
		font-weight: $wds-font-weight-bold;

		&__label {
			color: var(--pill-label-color--active);
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.wds-pills {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}
