.wds-tabs {
	--tab-color: var(--theme-text-color);
	--tab-color--active: var(--theme-link-color);

	align-items: flex-end;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.wds-tabs__tab {
	$tab-margin-horizontal: 11px;

	color: var(--tab-color);
	cursor: default;
	flex-shrink: 0;
	line-height: 14px;
	position: relative;
	transition: box-shadow .1s;

	&-label {
		align-items: center;
		display: inline-flex;
		font-size: $wds-font-size-xs;
		font-weight: bold;
		height: 40px;
		margin: 0 $tab-margin-horizontal;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: color .1s;
		white-space: nowrap;

		.wds-icon {
			margin: 0 $wds-button-horizontal-gap;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		> a {
			align-items: center;
			color: inherit;
			display: inline-flex;
			height: 100%;
			text-decoration: none;
		}
	}

	&:hover,
	&.wds-is-current {
		color: var(--tab-color--active);
	}

	&.wds-is-current {
		box-shadow: inset 0 -2px 0 0 currentColor;
	}

	.wds-dropdown__content {
		left: -$wds-dropdown-padding + $tab-margin-horizontal;
		transform: none;
	}
}
