.wds-textarea {
	--wds-textarea-border-color: var(--custom-border-color);
	--wds-textarea-text-color: var(--custom-text-color);
	--wds-textarea-placeholder-color: var(--custom-text-color--placeholder);
	--textarea-hint-color: var(--custom-text-color--placeholder);

	$field-bottom-padding: 6px;

	margin: 30px 0 18px;
	position: relative;

	&__field-wrapper {
		position: relative;
	}

	&__field {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid var(--custom-border-color);
		box-sizing: border-box;
		color: var(--textarea-text-color);
		font-size: $wds-font-size-base;
		line-height: 1rem;
		outline: 0;
		padding: 0 0 $field-bottom-padding;
		resize: none;
		width: 100%;

		&::placeholder {
			color: var(--textarea-placeholder-color);
		}
	}

	&__hint {
		color: var(--textarea-hint-color);
		display: flex;
		font-size: 12px;
		justify-content: space-between;
		line-height: 1;
	}

	&__length-hint {
		bottom: $field-bottom-padding;
		color:var(--textarea-hint-color);
		font-size: 12px;
		position: absolute;
		right: 0;
	}

	&.wds-has-error {
		.wds-textarea {
			&__field {
				border-color: $wds-color-alert;
			}

			&__hint {
				color: $wds-color-alert;
			}
		}
	}

	&.wds-has-length-hint {
		.wds-textarea__field {
			padding-right: 50px;
		}
	}
}
