@mixin wds-textarea-theming($border-color, $text-color, $secondary-text-color) {
	--wds-textarea-border-color: #{$border-color};
	--wds-textarea-text-color: #{$text-color};
	--wds-textarea-text-color--secondary: #{$secondary-text-color};
}

.wds-textarea {
	@include wds-textarea-theming(
		var(--theme-border-color),
		var(--theme-text-color),
		var(--theme-text-color--opacity-50)
	);

	$field-bottom-padding: 6px;

	margin: 30px 0 18px;
	position: relative;

	&__field-wrapper {
		position: relative;
	}

	&__field {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid var(--theme-border-color);
		box-sizing: border-box;
		color: var(--textarea-text-color);
		font-size: $wds-font-size-base;
		line-height: 1rem;
		outline: 0;
		padding: 0 0 $field-bottom-padding;
		resize: none;
		width: 100%;

		&::placeholder {
			color: var(--wds-textarea-text-color--secondary);
		}
	}

	&__hint {
		color: var(--wds-textarea-text-color--secondary);
		display: flex;
		font-size: 12px;
		justify-content: space-between;
		line-height: 1;
	}

	&__length-hint {
		bottom: $field-bottom-padding;
		color:var(--wds-textarea-text-color--secondary);
		font-size: 12px;
		position: absolute;
		right: 0;
	}

	&.wds-has-error {
		.wds-textarea {
			&__field {
				border-color: var(--theme-alert-color);
			}

			&__hint {
				color: var(--theme-alert-color);
			}
		}
	}

	&.wds-has-length-hint {
		.wds-textarea__field {
			padding-right: 50px;
		}
	}
}
