{{#if standalone}}
  {{outlet}}
{{else}}
  <div class="main-container">
    <header class="main-header">Fandom Design System</header>
    <MainNavigation @navigation={{this.navigation}} />
    <article class="main-content">
      {{outlet}}
    </article>
  </div>
{{/if}}
