<h1>Banner notifications</h1>
<section>
  <h2>Alert</h2>
  <p>
    Add <code class="format-code">.wds-alert</code> class to
    <code class="format-code">.wds-banner-notification</code> element and use icon
    <code class="format-code">wds-icons-error-small</code>
  </p>

  <Demo @name="banner-notifications">
    <div class="wds-banner-notification__container">
      <BannerNotification @type="alert" @onClose={{action "onClose"}}>
        This is an error message.
      </BannerNotification>
    </div>
  </Demo>
  <h2>Parameters</h2>
  <div>
    <h3>HBS Properties</h3>
    <ul>
      <li><strong>@type</strong> (string): type of notification (alert | warning | success | sessage)</li>
      <li><strong>@onClose</strong> (function): optional action to call when user clicks the close button</li>
    </ul>
  </div>
</section>

<section>
  <h2>Warning</h2>
  <p>
    Add <code class="format-code">.wds-warning</code> class to
    <code class="format-code">.wds-banner-notification</code> element and use icon
    <code class="format-code">wds-icons-alert-small</code>
  </p>

  <Demo @name="banner-notifications-warning">
    <div class="wds-banner-notification__container">
      <BannerNotification @type="warning" @onClose={{action "onClose"}}>
        This is a warning message.
      </BannerNotification>
    </div>
  </Demo>
</section>

<section>
  <h2>Success</h2>
  <p>
    Add <code class="format-code">.wds-success</code> class to
    <code class="format-code">.wds-banner-notification</code> element and use icon
    <code class="format-code">wds-icons-checkmark-small</code>
  </p>


  <Demo @name="banner-notifications-success">
    <div class="wds-banner-notification__container">
      <BannerNotification @type="success" @onClose={{action "onClose"}}>
        This is a confirmation message.
      </BannerNotification>
    </div>
  </Demo>
</section>

<section>
  <h2>Message</h2>
  <p>
    Add <code class="format-code">.wds-message</code> class to
    <code class="format-code">.wds-banner-notification</code> element and use icon
    <code class="format-code">wds-icons-flag-small</code>
  </p>

  <Demo @name="banner-notifications-message">
    <div class="wds-banner-notification__container">
      <BannerNotification @type="message" @onClose={{action "onClose"}}>
        This is a general notification message.
      </BannerNotification>
    </div>
  </Demo>
</section>


<section>
  <h2>Stacked</h2>

  <Demo @name="banner-notifications-stacked">
    <div class="wds-banner-notification__container">
      <BannerNotification @type="message">
        Stacked notification 1.
      </BannerNotification>
      <BannerNotification @type="success">
        Stacked notification 2 with very long content. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Vestibulum scelerisque ullamcorper sodales. Interdum et
        malesuada fames ac ante ipsum primis in faucibus.
      </BannerNotification>
      <BannerNotification @type="warning">
        Stacked notification 3.
      </BannerNotification>
    </div>
  </Demo>
</section>

<section>
  <h2>Transparent / Invisible</h2>
  <p>
    Add <code class="format-code">.wds-is-transparent</code> class to
    <code class="format-code">.wds-banner-notification</code> element to make banner invisible
    (space for banner is still allocated) on page.
  </p>
  <p>
    Originally introduced to allow programmatically showing element by fading in using CSS.
  </p>
</section>
