<h1>Pills</h1>
<p>
  Use pills for elements like tags and other kinds of metadata.
</p>

<section>
  <h2 id="pills">Pills</h2>

  <p>
    Add <code class="format-code">.wds-is-active</code> class to
    <code class="format-code">.wds-pill</code> element to mark it as active.
  </p>

  <div class="component-demo">
    <div class="component-demo__rendered">
      <ul class="wds-pills">
        <li class="wds-pill">
          <a href="#" class="wds-pill__label">
            <Icon @name="poll" @size="tiny" />
            Default pill
          </a>
        </li>
        <li class="wds-pill wds-is-active">
          <span class="wds-pill__label">
            <Icon @name="quiz" @size="tiny" />
            Active pill
          </span>
        </li>
      </ul>
    </div>

    <pre>
      &lt;ul class="wds-pills"&gt;
        &lt;li class="wds-pill"&gt;
          &lt;a href="#" class="wds-pill__label"&gt;
            &lt;Icon @name="poll" @size="tiny" /&gt;
            Default pill
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class="wds-pill wds-is-active"&gt;
          &lt;span class="wds-pill__label"&gt;
            &lt;Icon @name="quiz" @size="tiny" /&gt;
            Active pill
          &lt;/span&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    </pre>
  </div>
</section>
