.fixed-width-140px {
	width: 140px;
}

.button-theming .primary-only.wds-button {
	--color-primary-text: #{$wds-color-white};

	--color-primary:#{$wds-color-dark-blue};
	--color-primary-active: #{lighten($wds-color-dark-blue, 20%)};
}

.button-theming .different-secondary.wds-button {
	--color-primary-text: #{$wds-color-white};

	--color-primary:#{$wds-color-slate-gray};
	--color-primary-active: #{lighten($wds-color-slate-gray, 20%)};

	--color-secondary: #{$wds-color-link};
	--color-secondary-active: #{lighten($wds-color-link, 20%)};

}

/* Button group sections */
.button-group-icons-section {
	.component-demo__rendered {
		background: rgb(0, 51, 128);
		padding: 7px;
	}

	.white-theme {
		--color-secondary: white;
		--color-secondary-active: #{darken(white, 20%)};
	}
}
