.push-dropdown-down {
	padding-bottom: 4px;
}

.dropdown-margin-right {
	margin-right: 24px;
}

.dropdowns-theming {
	--dropdown-background-color: #0E182B;
	--dropdown-border-color: #3E4757;
	--dropdown-text-color: #D5D4D4;
	--dropdown-linked-item-color: #71D1EF;
	--dropdown-linked-item-background-color: #{rgba(#71D1EF, 0.1)};
}
