.push-dropdown-down {
	padding-bottom: 4px;
}

.dropdown-margin-right {
	margin-right: 24px;
}

.dropdowns-theming {
	--dropdown-background-color: #{mix(#0E182B, #fff, 90%)};

	--color-shadow: #{mix(#0E182B, #fff, 90%)};
	--color-background: #{mix(#0E182B, #fff, 90%)};
	--color-page-border: #3E4757;
	--color-text: #D5D4D4;
	--color-links: #71D1EF;
}
