/**
 * Breakpoints:
 *
 *     @example
 *     h4.breakpoint-preview-current-header Currently displayed breakpoint:&nbsp;
 *     div.breakpoint-preview-current
 *     h4.breakpoint-preview-list-header All supported breakpoint media queries:&nbsp;
 *     ul.breakpoint-preview-list
 *       li.breakpoint-preview-s-up
 *       li.breakpoint-preview-s-only
 *       li.breakpoint-preview-m-up
 *       li.breakpoint-preview-m-only
 *       li.breakpoint-preview-l-down
 *       li.breakpoint-preview-l-up
 *       li.breakpoint-preview-l-only
 *       li.breakpoint-preview-xl-up
 *       li.breakpoint-preview-xl-only
 *       li.breakpoint-preview-xxl-up
 */

@mixin display-breakpoint-content($breakpoint-name, $breakpoint-media-query) {
	content: '$breakpoint-#{$breakpoint-name}: #{$breakpoint-media-query}';
}

.breakpoint-preview-current-header,
.breakpoint-preview-list-header {
	font-weight: bold;
}

.breakpoint-preview-current::after,
.breakpoint-preview-list ::after {
	font-family: monospace;
}

/////////////////////////////////////////////
// All supported breakpoint media queries list
@each $breakpoint-name, $breakpoint-media-query in (
	s-up: $breakpoint-s-up,
	s-only: $breakpoint-s-only,
	m-up: $breakpoint-m-up,
	m-only: $breakpoint-m-only,
	l-down: $breakpoint-l-down,
	l-up: $breakpoint-l-up,
	l-only: $breakpoint-l-only,
	xl-up: $breakpoint-xl-up,
	xl-only: $breakpoint-xl-only,
	xxl-up: $breakpoint-xxl-up
) {
	.breakpoint-preview-#{$breakpoint-name}::after {
		@include display-breakpoint-content($breakpoint-name, $breakpoint-media-query);
	}
}

/////////////////////////////////////////////
// Currently displayed breakpoint/media query
.breakpoint-preview-current::after {
	@include display-breakpoint-content('s-up (default)', $breakpoint-s-up);
	color: $color-message;
}

@each $breakpoint-name, $breakpoint-data in (
	m-up: (query: $breakpoint-m-up, color: $color-success),
	l-up: (query: $breakpoint-l-up, color: $color-lifestyle),
	xl-up: (query: $breakpoint-xl-up, color: $color-warning),
	xxl-up: (query: $breakpoint-xxl-up, color: $color-alert)
) {
	@media #{map-get($breakpoint-data, query)} {
		.breakpoint-preview-current::after {
			@include display-breakpoint-content($breakpoint-name, map-get($breakpoint-data, query));
			color: #{map-get($breakpoint-data, color)};
		}
	}
}
