/////////////////////////
// # Wikia Brand Colors
/**
 * Wikia Corporate Colors:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-dark-blue.color-preview-card
 *         div.color-preview-box.color-dark-blue
 *         div.color-preview-name Dark Blue
 *         div.color-preview-variable $color-dark-blue
 *         div.color-preview-value #092344
 *       div#color-light-blue.color-preview-card
 *         div.color-preview-box.color-light-blue
 *         div.color-preview-name Light Blue
 *         div.color-preview-variable $color-light-blue
 *         div.color-preview-value #1a5eb8
 *       div#color-dark-blue-gray.color-preview-card
 *         div.color-preview-box.color-dark-blue-gray
 *         div.color-preview-name Dark Blue Gray
 *         div.color-preview-variable $color-dark-blue-gray
 *         div.color-preview-value #39424d
 *       div#color-slate-gray.color-preview-card
 *         div.color-preview-box.color-slate-gray
 *         div.color-preview-name Medium Gray
 *         div.color-preview-variable $color-slate-gray
 *         div.color-preview-value #656e78
 *       div#color-blue-gray.color-preview-card
 *         div.color-preview-box.color-blue-gray
 *         div.color-preview-name Blue Gray
 *         div.color-preview-variable $color-blue-gray
 *         div.color-preview-value #c5ced9
 *       div#color-light-blue-gray.color-preview-card
 *         div.color-preview-box.color-light-blue-gray
 *         div.color-preview-name Light Blue Gray
 *         div.color-preview-variable $color-light-blue-gray
 *         div.color-preview-value #e6ebf2
 *       div#color-faint-blue-gray.color-preview-card
 *         div.color-preview-box.color-faint-blue-gray
 *         div.color-preview-name Gray
 *         div.color-preview-variable $color-faint-blue-gray
 *         div.color-preview-value #f2f6fa
 *       div#color-white.color-preview-card
 *         div.color-preview-box.color-white
 *         div.color-preview-name White
 *         div.color-preview-variable $color-white
 *         div.color-preview-value #fff
 */

.color-dark-blue {
	background-color: $color-dark-blue;
}

.color-light-blue {
	background-color: $color-light-blue;
}

.color-dark-blue-gray {
	background-color: $color-dark-blue-gray;
}

.color-slate-gray {
	background-color: $color-slate-gray;
}

.color-blue-gray {
	background-color: $color-blue-gray;
}

.color-light-blue-gray {
	background-color: $color-light-blue-gray;
}

.color-faint-blue-gray {
	background-color: $color-faint-blue-gray;
}

.color-white {
	background-color: $color-white;
}

/**
 * Vertical Colors:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-comics.color-preview-card
 *         div.color-preview-box.color-comics
 *         div.color-preview-name Comics
 *         div.color-preview-variable $color-comics
 *         div.color-preview-value #ff5400
 *       div#color-games.color-preview-card
 *         div.color-preview-box.color-games
 *         div.color-preview-name Games
 *         div.color-preview-variable $color-games
 *         div.color-preview-value #94d11f
 *       div#color-books.color-preview-card
 *         div.color-preview-box.color-books
 *         div.color-preview-name Books
 *         div.color-preview-variable $color-books
 *         div.color-preview-value #ff7f26
 *       div#color-movies.color-preview-card
 *         div.color-preview-box.color-movies
 *         div.color-preview-name Movies
 *         div.color-preview-variable $color-movies
 *         div.color-preview-value #09d3bf
 *       div#color-lifestyle.color-preview-card
 *         div.color-preview-box.color-lifestyle
 *         div.color-preview-name Lifestyle
 *         div.color-preview-variable $color-lifestyle
 *         div.color-preview-value #ffd000
 *       div#color-music.color-preview-card
 *         div.color-preview-box.color-music
 *         div.color-preview-name Music
 *         div.color-preview-variable $color-music
 *         div.color-preview-value #c819ad
 *       div#color-tv.color-preview-card
 *         div.color-preview-box.color-tv
 *         div.color-preview-name TV
 *         div.color-preview-variable $color-tv
 *         div.color-preview-value #00b7e0
 */

.color-comics {
	background-color: $color-comics;
}

.color-games {
	background-color: $color-games;
}

.color-books {
	background-color: $color-books;
}

.color-movies {
	background-color: $color-movies;
}

.color-lifestyle {
	background-color: $color-lifestyle;
}

.color-music {
	background-color: $color-music;
}

.color-tv {
	background-color: $color-tv;
}

/**
 * Alerts:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-alert.color-preview-card
 *         div.color-preview-box.color-alert
 *         div.color-preview-name Alert/Delete
 *         div.color-preview-variable $color-alert
 *         div.color-preview-value #ed1c24
 *       div#color-warning.color-preview-card
 *         div.color-preview-box.color-warning
 *         div.color-preview-name Warning/Reported
 *         div.color-preview-variable $color-warning
 *         div.color-preview-value #f08a24
 *       div#color-success.color-preview-card
 *         div.color-preview-box.color-success
 *         div.color-preview-name Success/Approve
 *         div.color-preview-variable $color-success
 *         div.color-preview-value #5ba200
 *       div#color-message.color-preview-card
 *         div.color-preview-box.color-message
 *         div.color-preview-name Message
 *         div.color-preview-variable $color-message
 *         div.color-preview-value #1a5eb8
 */

.color-alert {
	background-color: $color-alert;
}

.color-warning {
	background-color: $color-warning;
}

.color-success {
	background-color: $color-success;
}

.color-message {
	background-color: $color-message;
}

/////////////////////////
// # Fandom Brand Colors
/**
 * Fandom Corporate Colors:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-games.color-preview-card
 *         div.color-preview-box.color-games
 *         div.color-preview-name Games
 *         div.color-preview-variable $color-games
 *         div.color-preview-value #94d11f
 *       div#color-movies.color-preview-card
 *         div.color-preview-box.color-movies
 *         div.color-preview-name Movies
 *         div.color-preview-variable $color-movies
 *         div.color-preview-value #09d3bf
 *       div#color-tv.color-preview-card
 *         div.color-preview-box.color-tv
 *         div.color-preview-name TV
 *         div.color-preview-variable $color-tv
 *         div.color-preview-value #00b7e0
 *       div#color-dark-blue-gray.color-preview-card
 *         div.color-preview-box.color-dark-blue-gray
 *         div.color-preview-name Dark Blue Gray
 *         div.color-preview-variable $color-dark-blue-gray
 *         div.color-preview-value #39424d
 *       div#color-slate-gray.color-preview-card
 *         div.color-preview-box.color-slate-gray
 *         div.color-preview-name Medium Gray
 *         div.color-preview-variable $color-slate-gray
 *         div.color-preview-value #656e78
 *       div#color-blue-gray.color-preview-card
 *         div.color-preview-box.color-blue-gray
 *         div.color-preview-name Blue Gray
 *         div.color-preview-variable $color-blue-gray
 *         div.color-preview-value #c5ced9
 *       div#color-off-white.color-preview-card
 *         div.color-preview-box.color-off-white
 *         div.color-preview-name Off-White 96%
 *         div.color-preview-variable $color-off-white
 *         div.color-preview-value #f6f6f6
 */

.color-off-white {
	background-color: $color-off-white;
}

/////////////////////////
// # Theming Colors
/**
 * Light Theme:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-light-c1.color-preview-card
 *         div.color-preview-box.color-light-c1
 *         div.color-preview-name White 100%
 *         div.color-preview-variable $color-light-c1
 *         div.color-preview-value #fff
 *       div#color-light-c2.color-preview-card
 *         div.color-preview-box.color-light-c2
 *         div.color-preview-name Off-White 96%
 *         div.color-preview-variable $color-light-c2
 *         div.color-preview-value #f6f6f6
 *       div#color-light-c3.color-preview-card
 *         div.color-preview-box.color-light-c3
 *         div.color-preview-name Mist Gray 90%
 *         div.color-preview-variable $color-light-c3
 *         div.color-preview-value #e6e6e6
 *       div#color-light-c4.color-preview-card
 *         div.color-preview-box.color-light-c4
 *         div.color-preview-name Faint Gray 80%
 *         div.color-preview-variable $color-light-c4
 *         div.color-preview-value #ccc
 *       div#color-light-c5.color-preview-card
 *         div.color-preview-box.color-light-c5
 *         div.color-preview-name Light Gray 60%
 *         div.color-preview-variable $color-light-c5
 *         div.color-preview-value #999
 *       div#color-light-c6.color-preview-card
 *         div.color-preview-box.color-light-c6
 *         div.color-preview-name Dark Gray 20%
 *         div.color-preview-variable $color-light-c6
 *         div.color-preview-value #333
 *       div#color-light-c7.color-preview-card
 *         div.color-preview-box.color-light-c7
 *         div.color-preview-name Medium Gray 40%
 *         div.color-preview-variable $color-light-c7
 *         div.color-preview-value #666
 *       div#color-light-c8.color-preview-card
 *         div.color-preview-box.color-light-c8
 *         div.color-preview-name Gold
 *         div.color-preview-variable $color-light-c8
 *         div.color-preview-value #e3bd00
 */

.color-light-c1 {
	background-color: $color-light-c1;
}

.color-light-c2 {
	background-color: $color-light-c2;
}

.color-light-c3 {
	background-color: $color-light-c3;
}

.color-light-c4 {
	background-color: $color-light-c4;
}

.color-light-c5 {
	background-color: $color-light-c5;
}

.color-light-c6 {
	background-color: $color-light-c6;
}

.color-light-c7 {
	background-color: $color-light-c7;
}

.color-light-c8 {
	background-color: $color-light-c8;
}

/**
 * Dark Theme:
 *
 *     @example
 *     div.color-preview-group
 *       div#color-dark-c1.color-preview-card
 *         div.color-preview-box.color-dark-c1
 *         div.color-preview-name Dark Gray 15%
 *         div.color-preview-variable $color-dark-c1
 *         div.color-preview-value #262626
 *       div#color-dark-c2.color-preview-card
 *         div.color-preview-box.color-dark-c2
 *         div.color-preview-name Dark Gray 10%
 *         div.color-preview-variable $color-dark-c2
 *         div.color-preview-value #1a1a1a
 *       div#color-dark-c3.color-preview-card
 *         div.color-preview-box.color-dark-c3
 *         div.color-preview-name Dark Gray 20%
 *         div.color-preview-variable $color-dark-c3
 *         div.color-preview-value #333
 *       div#color-dark-c4.color-preview-card
 *         div.color-preview-box.color-dark-c4
 *         div.color-preview-name Medium Gray 40%
 *         div.color-preview-variable $color-dark-c4
 *         div.color-preview-value #666
 *       div#color-dark-c5.color-preview-card
 *         div.color-preview-box.color-dark-c5
 *         div.color-preview-name Light Gray 60%
 *         div.color-preview-variable $color-dark-c5
 *         div.color-preview-value #999
 *       div#color-dark-c6.color-preview-card
 *         div.color-preview-box.color-dark-c6
 *         div.color-preview-name Faint Gray 80%
 *         div.color-preview-variable $color-dark-c6
 *         div.color-preview-value #ccc
 *       div#color-dark-c7.color-preview-card
 *         div.color-preview-box.color-dark-c7
 *         div.color-preview-name White 100%
 *         div.color-preview-variable $color-dark-c7
 *         div.color-preview-value #fff
 *       div#color-dark-c8.color-preview-card
 *         div.color-preview-box.color-dark-c8
 *         div.color-preview-name Gold
 *         div.color-preview-variable $color-dark-c8
 *         div.color-preview-value #e3bd00
 */

.color-dark-c1 {
	background-color: $color-dark-c1;
}

.color-dark-c2 {
	background-color: $color-dark-c2;
}

.color-dark-c3 {
	background-color: $color-dark-c3;
}

.color-dark-c4 {
	background-color: $color-dark-c4;
}

.color-dark-c5 {
	background-color: $color-dark-c5;
}

.color-dark-c6 {
	background-color: $color-dark-c6;
}

.color-dark-c7 {
	background-color: $color-dark-c7;
}

.color-dark-c8 {
	background-color: $color-dark-c8;
}
