/**
 * Typescale:
 *
 *     @example
 *     p
 *       div.typescale-size-plus-7 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-7
 *     p
 *       div.typescale-size-plus-6 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-6
 *     p
 *       div.typescale-size-plus-5 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-5
 *     p
 *       div.typescale-size-plus-4 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-4
 *     p
 *       div.typescale-size-plus-3 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-3
 *     p
 *       div.typescale-size-plus-2 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-2
 *     p
 *       div.typescale-size-plus-1 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-plus-1
 *     p
 *       div.typescale-size-base The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-size-base
 *     p
 *       div.typescale-size-minus-1 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-1
 *     p
 *       div.typescale-size-minus-2 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-2
 *     p
 *       div.typescale-size-minus-3 The quick brown fox jumps over the lazy dog
 *       code.sg $typograghy-minus-3
 */

body {
	font-family: $font-family;
}

.typescale-size-base {
	font-size: $typescale-size-base;
	line-height: $line-height;
}

.typescale-size-minus-1 {
	font-size: $typescale-size-minus-1;
	line-height: $line-height;
}

.typescale-size-minus-2 {
	font-size: $typescale-size-minus-2;
	line-height: $line-height;
}

.typescale-size-minus-3 {
	font-size: $typescale-size-minus-3;
	line-height: $line-height;
}

.typescale-size-plus-1 {
	font-size: $typescale-size-plus-1;
	line-height: $line-height;
}

.typescale-size-plus-2 {
	font-size: $typescale-size-plus-2;
	line-height: $line-height;
}

.typescale-size-plus-3 {
	font-size: $typescale-size-plus-3;
	line-height: $line-height;
}

.typescale-size-plus-4 {
	font-size: $typescale-size-plus-4;
	line-height: $line-height;
}

.typescale-size-plus-5 {
	font-size: $typescale-size-plus-5;
	line-height: $line-height;
}

.typescale-size-plus-6 {
	font-size: $typescale-size-plus-6;
	line-height: $line-height;
}

.typescale-size-plus-7 {
	font-size: $typescale-size-plus-7;
	line-height: $line-height;
}

.typescale-size-minus-3 {
	font-size: $typescale-size-minus-3;
	line-height: $line-height;
}
