@import '../bower_components/design-system/index';

/////////////////////////
//// common colors' names (from the DS)

/**
 * Color Aqua Blue:
 * `$color-aqua-blue`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-aqua-blue
 *       div.color-preview-code #00b7e0
 */

.color-aqua-blue {
  background-color: $color-aqua-blue;
}

/**
 * Color Aquamarine:
 * `$color-aquamarine`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-aquamarine
 *       div.color-preview-code #09d3bf
 */

.color-aquamarine {
  background-color: $color-aquamarine;
}

/**
 * Color Barney:
 * `$color-barney`
 *
 *     @example
 *     div
 *       div.color-preview-box.color-barney
 *       div.color-preview-code #c819ad
 */

.color-barney {
  background-color: $color-barney;
}

$color-black-one: #333333;
$color-black-three: #262626;
$color-black-two: #1a1a1a;
$color-blue-blue: #1a5eb8;
$color-bright-orange: #ff5400;
$color-charcoal-grey: #39424d;
$color-cloudy-blue: #c5ced9;
$color-dark-indigo: #092344;
$color-dark-sky-blue: #4a90e2;
$color-dusty-orange: #f08a24;
$color-faint-grey: #cccccc;
$color-kermit-green: #5ba200;
$color-light-grey: #999999;
$color-mango: #ff7f26;
$color-medium-grey: #666666;
$color-mist-grey: #e6e6e6;
$color-off-white: #f6f6f6;
$color-pale-grey-one: #e6ebf2;
$color-pale-grey-two: #f2f6fa;
$color-pea: #94d11f;
$color-pinkish-red: #ed1c24;
$color-slate-grey: #656e78;
$color-sunflower-yellow: #ffd000;
$color-ugly-yellow: #e3bd00;
$color-white: #ffffff;

/////////////////////////
// # Wikia Brand Colors

// ## Corporate Colors
$color-wikia-dark-blue: $color-dark-indigo;
$color-wikia-light-blue: $color-blue-blue;
$color-wikia-dark-blue-gray: $color-charcoal-grey;
$color-wikia-medium-gray: $color-slate-grey;
$color-wikia-blue-gray: $color-cloudy-blue;
$color-wikia-light-blue-gray: $color-pale-grey-one;
$color-wikia-gray: $color-pale-grey-two;
$color-wikia-white: $color-white;

// ## Vertical Colors
$color-wikia-comics: $color-bright-orange;
$color-wikia-games: $color-pea;
$color-wikia-books: $color-mango;
$color-wikia-movies: $color-aquamarine;
$color-wikia-lifestyle: $color-sunflower-yellow;
$color-wikia-music: $color-barney;
$color-wikia-tv: $color-aqua-blue;

// ## Alerts
$color-wikia-alert: $color-pinkish-red;
$color-wikia-warning: $color-dusty-orange;
$color-wikia-success: $color-kermit-green;
$color-wikia-message: $color-blue-blue;

/////////////////////////
// # Fandom Brand Colors

// ## Corporate Colors
$color-fandom-games: $color-pea;
$color-fandom-movies: $color-aquamarine;
$color-fandom-tv: $color-aqua-blue;
$color-fandom-dark-blue-gray: $color-charcoal-grey;
$color-fandom-medium-gray: $color-slate-grey;
$color-fandom-blue-gray: $color-cloudy-blue;
$color-fandom-off-white: $color-off-white;

/////////////////////////
// # Theming Colors

// ## Light Theme
$color-light-c1: $color-white;
$color-light-c2: $color-off-white;
$color-light-c3: $color-mist-grey;
$color-light-c4: $color-faint-grey;
$color-light-c5: $color-light-grey;
$color-light-c6: $color-black-one;
$color-light-c7: $color-medium-grey;
$color-light-c8: $color-ugly-yellow;

// ## Dark Theme
$color-dark-c1: $color-black-three;
$color-dark-c2: $color-black-two;
$color-dark-c3: $color-black-one;
$color-dark-c4: $color-medium-grey;
$color-dark-c5: $color-light-grey;
$color-dark-c6: $color-faint-grey;
$color-dark-c7: $color-white;
$color-dark-c8: $color-ugly-yellow;

/**
 * Component name:
 * `.your-component-here` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     div.your-component-here
 *       h3 Sample code
 *       p goes here
 */

.your-component-here {
  display: block;
  background-color: $color-aqua-blue;
}
