@import '../bower_components/design-system/index';

/**
 * Typescale:
 *
 *     @example
 *     p
 *       div.typescale-size-plus-7 This is headline
 *       code.sg $typograghy-size-plus-7
 *     p
 *       div.typescale-size-plus-6 This is headline
 *       code.sg $typograghy-size-plus-6
 *     p
 *       div.typescale-size-plus-5 This is headline
 *       code.sg $typograghy-size-plus-5
 *     p
 *       div.typescale-size-plus-4 This is headline
 *       code.sg $typograghy-size-plus-4
 *     p
 *       div.typescale-size-plus-3 This is headline
 *       code.sg $typograghy-size-plus-3
 *     p
 *       div.typescale-size-plus-2 This is headline
 *       code.sg $typograghy-size-plus-2
 *     p
 *       div.typescale-size-plus-1 This is headline
 *       code.sg $typograghy-size-plus-1
 *     p
 *       div.typescale-size-base This is headline
 *       code.sg $typograghy-size-base
 *     p
 *       div.typescale-size-minus-1 This is headline
 *       code.sg $typograghy-minus-1
 *     p
 *       div.typescale-size-minus-2 This is headline
 *       code.sg $typograghy-minus-2
 *     p
 *       div.typescale-size-minus-3 This is headline
 *       code.sg $typograghy-minus-3
 */

.typescale-size-base {
	font-size: $typescale-size-base;
	line-height: $line-height;
}

.typescale-size-minus-1 {
	font-size: $typescale-size-minus-1;
	line-height: $line-height;
}

.typescale-size-minus-2 {
	font-size: $typescale-size-minus-2;
	line-height: $line-height;
}

.typescale-size-minus-3 {
	font-size: $typescale-size-minus-3;
	line-height: $line-height;
}

.typescale-size-plus-1 {
	font-size: $typescale-size-plus-1;
	line-height: $line-height;
}

.typescale-size-plus-2 {
	font-size: $typescale-size-plus-2;
	line-height: $line-height;
}

.typescale-size-plus-3 {
	font-size: $typescale-size-plus-3;
	line-height: $line-height;
}

.typescale-size-plus-4 {
	font-size: $typescale-size-plus-4;
	line-height: $line-height;
}

.typescale-size-plus-5 {
	font-size: $typescale-size-plus-5;
	line-height: $line-height;
}

.typescale-size-plus-6 {
	font-size: $typescale-size-plus-6;
	line-height: $line-height;
}

.typescale-size-plus-7 {
	font-size: $typescale-size-plus-7;
	line-height: $line-height;
}

.typescale-size-minus-3 {
	font-size: $typescale-size-minus-3;
	line-height: $line-height;
}
